{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="member-container">
        <div id="member-wrapper" class="d-none">
          <div id="member-header">
            <div class="w-25 text-start">
              <button id="member-delete" type="button" class="btn btn-danger">{% trans 'panel.member.delete' %}</button>
            </div>
            <div id="member-headline-wrapper">
              <h1 id="member-headline" class="mx-2"></h1>
            </div>
            <div class="w-25 text-end">
            </div>
          </div>
          <div id="member-group-header">
            <h2>{% trans 'panel.member.group.headline' %}</h2>
          </div>
          <div id="member-group-dropdown" class="dropdown">
            <button id="member-group-dropdown-button" class="btn btn-secondary dropdown-toggle bg-dark mt-4 mb-5" type="button" data-bs-toggle="dropdown">
              {% trans 'panel.member.group' %}
            </button>
            <ul id="member-group-dropdown-list" class="dropdown-menu dropdown-menu-dark">
            </ul>
          </div>
          <div id="member-permissions-header">
            <h2>{% trans 'panel.member.permissions.headline' %}</h2>
            <button id="member-permission-add" class="btn btn-success" type="button">{% trans 'panel.member.permission.add' %}</button>
          </div>
          <ul id="member-permissions">
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var member;
  var groups;

  $(document).ready(function() {
    displayLoader();
    fetchMembersData(function() {
      fetchGroupsData(function() {
        displayMember();
        removeLoader();
      });
    });
  });

  function fetchMembersData(callback) {
    let request = new HttpRequest("/members/", "GET", []);
    request.send(function (status, responseText) {
      member = JSON.parse(responseText).members.filter((member) => member.id === "{{member}}")[0];
      callback();
    });
  }

  function fetchGroupsData(callback) {
    let request = new HttpRequest("/groups/", "GET", []);
    request.send(function (status, responseText) {
      groups = JSON.parse(responseText).groups.sort(function(firstGroup, secondGroup) {
        return secondGroup.priority - firstGroup.priority;
      });
      callback();
    });
  }

  function displayMember() {
    document.getElementById("member-headline").innerHTML = member.name;
    document.getElementById("member-group-dropdown-button").innerHTML = "{% trans 'panel.member.group' %}: " + member.group;
    for (var i = 0; i < groups.length; i++) {
      addGroup(groups[i].name);
    }
    for (var i = 0; i < member.permissions.length; i++) {
      document.getElementById("member-permissions").appendChild(
        createPermissionElement(member.permissions[i]));
    }
    if (member.permissions.length === 0) {
      var groupPermissionsEmptyElement = document.createElement("h6");
      groupPermissionsEmptyElement.classList.add("mt-4");
      groupPermissionsEmptyElement.innerHTML = "{% trans 'panel.member.permissions.empty' %}";
      document.getElementById("member-permissions").appendChild(groupPermissionsEmptyElement);
    }
  }

  function addGroup(group) {
    var groupElement = document.createElement("li");
    groupElement.classList.add("dropdown-item");
    var groupNameName = document.createElement("b");
    groupNameName.innerHTML = group;
    groupElement.appendChild(groupNameName);
    groupElement.onclick = function(event) {
      selectGroup(group);
    }
    document.getElementById("member-group-dropdown-list").appendChild(groupElement);
  }

  function selectGroup(group) {
    document.getElementById("member-group-dropdown-button").innerHTML = "{% trans 'panel.member.group' %}: " + group;
    let request = new HttpRequest("/member/group/change/", "POST", [],
      {group: group, member: member.id});
    request.send(function (status, responseText) {

    });
  }

  function createPermissionElement(permission) {
    var permissionElement = document.createElement("li");
    permissionElement.classList.add("member-permission");
    var permissionNameElement = document.createElement("div");
    permissionNameElement.classList.add("member-permission-name");
    permissionNameElement.innerHTML = "• \"" + permission + "\"";
    permissionElement.appendChild(permissionNameElement);
    var permissionRemoveElement = document.createElement("span");
    permissionRemoveElement.classList.add("member-permission-remove", "fa", "fa-ban", "text-danger");
    permissionRemoveElement.onclick = function (event) {
      let request = new HttpRequest("/member/permission/remove/", "POST", [],
        {permission: permission, member: member.id});
      request.send(function (status, responseText) {
        location.reload();
      });
    }
    permissionElement.appendChild(permissionRemoveElement);
    return permissionElement;
  }

  document.getElementById("member-permission-add").onclick = function (event) {
    var content = document.createElement("div");
    content.classList.add("member-permission-add-content");
    var text = document.createElement("p");
    text.innerText = "{% trans 'panel.member.permission.add.body' %}";
    content.appendChild(text);
    var input = document.createElement("input");
    input.placeholder = "{% trans 'panel.member.permission.add.name' %}";
    content.appendChild(input);
    Swal.fire({
      title: "{% trans 'panel.member.permission.add.title' %}",
      html: content,
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("/member/permission/add/", "POST", [],
          {permission: input.value, member: member.id});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'panel.member.permission.add.successful.title' %}", "{% trans 'panel.member.permission.add.successful.body' %}", "success").then(success => window.location.reload());
        });
      }
    });
  }

  document.getElementById("member-delete").onclick = function(event) {
    Swal.fire({
      title: "{% trans 'panel.member.delete.title' %}",
      text: "{% trans 'panel.member.delete.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("/member/remove/", "POST", [],
          {member: member.id});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'panel.member.delete.successful.title' %}", "{% trans 'panel.member.delete.successful.body' %}", "success").then(success => window.location.href = "/administration/");
        });
      }
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("member-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("member-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("member-wrapper").classList.remove("d-none");
  }
</script>