#entity-bundle-change-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#entity-bundle-change-back {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 52px;
  height: 52px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 25px;
}

.dark #entity-bundle-change-back {
  color: #b5b5b5;
}

.light #entity-bundle-change-back {
  color: #656565;
}

.dark #entity-bundle-change-back:hover {
  background-color: #212937;
}

.light #entity-bundle-change-back:hover {
  background-color: #d3d3d3;
}

#entity-bundle-change-process {
  padding: 30px;
  border-radius: 5px;
}

.dark #entity-bundle-change-process {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light #entity-bundle-change-process {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

#entity-bundle-change-process-data {
  width: min(400px, 100%);
  margin: auto;
}

.dark input {
  background-color: #0d1117 !important;
  color: white !important;
  -webkit-text-fill-color: white;
  border: 1px solid #cecece !important;
}

.dark input::placeholder {
  color: #828282 !important;
  -webkit-text-fill-color: #828282;
}

.light input {
  background-color: #eaeaea !important;
  color: black !important;
  -webkit-text-fill-color: black;
  border: 1px solid #4c4c4c !important;
}

.light input::placeholder {
  color: #949494 !important;
  -webkit-text-fill-color: #949494;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}