#entity-offers-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#entity-offers-container .nav-tabs {
  width: min(1200px, 100%);
  margin: 40px auto 75px auto;
  border: none;
}

#entity-offers-container .nav-link {
  border: none;
  transition-duration: 0.3s;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.dark #entity-offers-container .nav-link {
  color: white;
}

.light #entity-offers-container .nav-link {
  color: black;
}

#entity-offers-container .nav-link-active {
  color: #8fc0f1;
  border-bottom: 2px #8fc0f1 solid;
}

#entity-offers-empty {
  padding: 30px;
  border-radius: 5px;
}

.dark #entity-offers-empty {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light #entity-offers-empty {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

#entity-offers {
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.dark #entity-offers {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light #entity-offers {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

#entity-offers-description {
  list-style-type: none;
  margin: 1% auto auto;
  border-bottom: 2px #717171 solid;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#entity-offers-description li {
  width: 20%;
  padding: 2% 3%;
  font-weight: bold;
  font-size: 20px;
}

#entity-offers-description li {
  border-right: 1px #717171 solid;
}

#entity-offers-description li:last-child {
  border-right: none;
}

#entity-offers-content {
  width: min(1000px, 100%);
  margin: auto;
  overflow-x: auto;
  position: relative;
  padding-bottom: 10px;
}

#entity-offer-list {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

#entity-offer-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

#entity-offer-list li {
  border-bottom: 1px #717171 solid;
}

#entity-offer-list li:last-child {
  border-bottom: none;
}

#entity-offer-list li div {
  padding: 3%;
  width: 20%;
  text-align: left;
}

#entity-offer-list li div {
  border-right: 1px #717171 solid;
}

#entity-offer-list li div:last-child {
  border-right: none;
}

#entity-offer-list li div span {
  line-break: anywhere;
}

.entity-offer-status-pending, .entity-offer-status-accepted, .entity-offer-status-declined, .entity-offer-status-withdrawn {
  padding: 10px;
  border-radius: 5px;
  line-break: auto !important;
}

.entity-offer-status-pending {
  border: 2px #a99442 solid;
  background-color: #f8f1d7;
  color: #72571c;
}

.entity-offer-status-accepted {
  border: 2px #42a94b solid;
  background-color: #d7f8da;
  color: #1f721c;
}

.entity-offer-status-declined {
  border: 2px #a94242 solid;
  background-color: #f8d7da;
  color: #721c24;
}

.entity-offer-status-withdrawn {
  border: 2px #a94242 solid;
  background-color: #f8d7da;
  color: #721c24;
}

@media (max-width: 1250px) {
  #entity-offers-description li div i {
    display: none;
  }
}

@media (max-width: 1200px) {
  #entity-offers-description-runtime, .entity-offers-entry-runtime {
    display: none;
  }

  #entity-offers-description li, #entity-offer-list li div {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  #entity-offers-description li {
    font-size: .8em;
  }

  #entity-offer-list li div span {
    font-size: .8em;
  }

  .entity-offer-status-pending, .entity-offer-status-accepted, .entity-offer-status-declined, .entity-offer-status-withdrawn {
    padding: 5px;
  }

  .entity-offer-view {
    font-size: .7em !important;
  }
}

@media (max-width: 600px) {
  #entity-offer-list, #entity-offers-description {
    width: 500px;
  }
}