#entity-termination-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#entity-termination-container .nav-tabs {
  width: min(1200px, 100%);
  margin: 40px auto 75px auto;
  border: none;
}

#entity-termination-container .nav-link {
  border: none;
  transition-duration: 0.3s;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#entity-termination-container .nav-link {
  color: white;
}

#entity-termination-container .nav-link-active {
  color: #8fc0f1;
  border-bottom: 2px #8fc0f1 solid;
}

#entity-termination-process, #entity-termination-not-possible, #entity-termination-done {
  padding: 30px;
  border-radius: 5px;
}

#entity-termination-process {
  margin-top: 50px;
  margin-bottom: 50px;
}

#entity-termination-process, #entity-termination-not-possible, #entity-termination-done {
  background-color: #131820;
  border: 1px #2b3441 solid;
}