#entity-termination-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#entity-termination-process, #entity-termination-not-possible, #entity-termination-done {
  padding: 30px;
  border-radius: 5px;
}

#entity-termination-process {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dark #entity-termination-process, .dark #entity-termination-not-possible, .dark #entity-termination-done {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light #entity-termination-process, .light #entity-termination-not-possible, .light #entity-termination-done {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}