{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="entity-termination-container">
        <div id="entity-termination-wrapper" class="d-none">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/general/">{% trans 'entity.tab.general' %}</a></li>
              {% if type == 'user' %}
                <li class="nav-item"><a class="nav-link" href="/user/{{entity}}/mails/">{% trans 'entity.tab.mail' %}</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/bundle/">{% trans 'entity.tab.bundle' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/payment/">{% trans 'entity.tab.payment' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/offers/">{% trans 'entity.tab.offer' %}</a></li>
              <li class="nav-item"><a class="nav-link nav-link-active" href="/{{type}}/{{entity}}/termination/">{% trans 'entity.tab.termination' %}</a></li>
            </ul>
          </div>
          <div id="entity-termination-process">
            <h4 class="fw-bold mb-4">{% trans 'entity.termination.headline' %}</h4>
            <p id="entity-termination-process-description" class="mb-3"></p>
            <p id="entity-termination-process-description-dynamic" class="mb-5"></p>
            <button type="button" id="entity-termination" class="btn btn-danger d-block px-5 mt-5 mx-auto">{% trans 'entity.termination' %}</button>
          </div>
          <div id="entity-termination-not-possible">
            <h4 class="fw-bold mb-4">{% trans 'entity.termination.headline' %}</h4>
            <p class="mb-0">{% trans 'entity.termination.not.possible.description' %}</p>
          </div>
          <div id="entity-termination-done">
            <h4 class="fw-bold mb-4">{% trans 'entity.termination.headline' %}</h4>
            <p id="entity-termination-done-description" class="mb-0"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchBundle(function (bundle) {
      fetchTerminationStatus(function (terminationStatus) {
        displayTerminationInformation(terminationStatus, bundle);
        removeLoader();
      });
    });
  });

  function displayTerminationInformation(terminationStatus, bundle) {
    var expiration = formatTime(bundle.expiration);
    if (terminationStatus.terminable === false) {
      document.getElementById("entity-termination-process").classList.add("d-none");
      document.getElementById("entity-termination-done").classList.add("d-none");
      return;
    }
    if (terminationStatus.terminated === true) {
      document.getElementById("entity-termination-process").classList.add("d-none");
      document.getElementById("entity-termination-not-possible").classList.add("d-none");
      document.getElementById("entity-termination-done-description").innerHTML =
        "{% trans 'entity.termination.done.description' %}".replace("%s", expiration);
      return;
    }
    document.getElementById("entity-termination-done").classList.add("d-none");
    document.getElementById("entity-termination-not-possible").classList.add("d-none");
    document.getElementById("entity-termination-process-description").innerHTML =
      "{% trans 'entity.termination.process.description' %}".replace("%s", expiration);
    var dynamicElement = document.getElementById("entity-termination-process-description-dynamic");
    if (terminationStatus.directlyEffective) {
      dynamicElement.innerHTML = "{% trans 'entity.termination.process.description.instant' %}";
    } else {
      dynamicElement.innerHTML = "{% trans 'entity.termination.process.description.delayed' %}";
    }
  }

  function formatTime(time) {
    return new Date(time).toLocaleDateString().replace(/(^|\D)(\d)(?!\d)/g, '$10$2');
  }

  function fetchTerminationStatus(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/entity/termination/status/", "POST",
      [], {entity: "{{entity}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  function fetchBundle(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/entity/bundle/find/", "POST",
      [], {entity: "{{entity}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  document.getElementById("entity-termination").onclick = function (event) {
    Swal.fire({
      title: "{% trans 'entity.termination.process.title' %}",
      text: "{% trans 'entity.termination.process.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("https://team.dulno.com/v1/entity/bundle/terminate/", "POST",
          [], {entity: "{{entity}}"});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'entity.termination.process.successful.title' %}", "{% trans 'entity.termination.process.successful.body' %}", "success").then(success => window.location.reload());
        });
      }
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("entity-termination-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("entity-termination-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("entity-termination-wrapper").classList.remove("d-none");
  }
</script>