{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="entity-offers-container">
        <div id="entity-offers-wrapper" class="d-none">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/general/">{% trans 'entity.tab.general' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/bundle/">{% trans 'entity.tab.bundle' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/payment/">{% trans 'entity.tab.payment' %}</a></li>
              <li class="nav-item"><a class="nav-link nav-link-active" href="/{{type}}/{{entity}}/offers/">{% trans 'entity.tab.offer' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/{{type}}/{{entity}}/termination/">{% trans 'entity.tab.termination' %}</a></li>
            </ul>
          </div>
          <div id="entity-offers" class="d-none">
            <h3 class="fw-bold mb-4">{% trans 'entity.offers.headline' %}</h3>
            <ul id="entity-offers-description">
              <li>
                <div>
                  <span class="me-2">{% trans 'entity.offers.type' %}</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="me-2">{% trans 'entity.offers.runtime' %}</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="me-2">{% trans 'entity.offers.price' %}</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="me-2">{% trans 'entity.offers.status' %}</span>
                </div>
              </li>
            </ul>
            <ul id="entity-offer-list">
            </ul>
            <button type="button" class="btn btn-primary d-block px-5 mt-5 mx-auto" onclick="location.href='/{{type}}/{{entity}}/offer/create/'">{% trans 'entity.offers.create' %}</button>
          </div>
          <div id="entity-offers-empty" class="d-none">
            <h4 class="fw-bold mb-4">{% trans 'entity.offers.empty.headline' %}</h4>
            <p class="mb-3 text-center">{% trans 'entity.offers.empty.description' %}</p>
            <button type="button" class="btn btn-primary d-block px-5 mt-5 mx-auto" onclick="location.href='/{{type}}/{{entity}}/offer/create/'">{% trans 'entity.offers.create' %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchOffers(function (offers) {
      displayOffers(offers.offers);
      removeLoader();
    });
  });

  function displayOffers(offers) {
    if (offers.length === 0) {
      document.getElementById("entity-offers-empty").classList.remove("d-none");
      return;
    }
    for (var i = 0; i < offers.length; i++) {
      var offer = offers[i];
      displayOffer(offer.type, offer.runtime, offer.price, offer.status);
    }
    document.getElementById("entity-offers").classList.remove("d-none");
  }

  function displayOffer(type, runtime, price, status) {
    var entry = document.createElement('li');
    appendOfferCell(entry, "type", type === "PROFESSIONAL" ?
      "{% trans 'entity.bundle.professional' %}" : "", "span");
    appendOfferCell(entry, "runtime", runtime === "MONTHLY" ?
      "1 {% trans 'entity.bundle.runtime.month' %}" :
      "1 {% trans 'entity.bundle.runtime.year' %}", "span");
    appendOfferCell(entry, "price", price + " €", "span");
    entry.appendChild(createOfferStatusElement(status));
    document.getElementById("entity-offer-list").appendChild(entry);
  }

  function createOfferStatusElement(status) {
    var statusContainer = document.createElement("div");
    statusContainer.classList.add("text-center");
    var statusElement = document.createElement("span");
    if (status === "READY") {
      statusElement.innerHTML = "{% trans 'entity.offers.status.pending' %}";
      statusElement.classList.add("entity-offer-status-pending");
    } else if (status === "ACCEPTED") {
      statusElement.innerHTML = "{% trans 'entity.offers.status.accepted' %}";
      statusElement.classList.add("entity-offer-status-accepted");
    } else if (status === "DECLINED") {
      statusElement.innerHTML = "{% trans 'entity.offers.status.declined' %}";
      statusElement.classList.add("entity-offer-status-declined");
    } else if (status === "WITHDRAWN") {
      statusElement.innerHTML = "{% trans 'entity.offers.status.withdrawn' %}";
      statusElement.classList.add("entity-offer-status-withdrawn");
    }
    statusContainer.appendChild(statusElement);
    return statusContainer;
  }

  function appendOfferCell(entry, identifier, information, elementType) {
    var div = document.createElement("div");
    var element = document.createElement(elementType);
    element.innerText = information;
    div.appendChild(element);
    entry.appendChild(div);
    return element;
  }

  function fetchOffers(callback) {
    let request = new HttpRequest("https://team.taskwolf.net/v1/offers/find/", "POST",
      [], {target: "{{entity}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("entity-offers-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("entity-offers-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("entity-offers-wrapper").classList.remove("d-none");
  }
</script>