#offer-create-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#offer-create-back {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 52px;
  height: 52px;
  border: none;
  color: #b5b5b5;
  background-color: transparent;
  border-radius: 50%;
  font-size: 25px;
}

#offer-create-back:hover {
  background-color: #212937;
}

#offer-create-process {
  padding: 30px;
  border-radius: 5px;
}

#offer-create-process {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

#offer-create-process-data {
  width: min(400px, 100%);
  margin: auto;
}

input {
  background-color: #0d1117 !important;
  color: white !important;
  border-radius: 4px !important;
}

input::placeholder {
  color: #828282 !important;
  -webkit-text-fill-color: #828282;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}