#template-wrapper {
  width: min(1000px, 100%);
  margin: auto;
}

#template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#template-headline {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 450px) {
  #template-header {
    margin-bottom: 15vh;
  }

  #template-headline-wrapper {
    position: absolute;
    top: 10vh;
    width: 100%;
  }
}

#template-delete {
  margin-left: 20px;
}

.template-separator {
  width: 100%;
  height: 2px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #464646;
}

.template-section {
  width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .template-section {
    width: calc(90%);
  }
}

#template-preview {
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  padding: 10px;
  transition-duration: 0.3s;
}

.template-workflow {
  padding: 50px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dark .template-workflow {
  background-color: #202428;
}

.light .template-workflow {
  background-color: #d0d0d0;
}

.template-workflow-component {
  width: 64px;
  height: 64px;
  border-radius: 25%;
}

.template-workflow-arrow {
  font-size: 42px;
  transform: scale(1.5);
  height: 64px;
  margin-left: 20px;
  margin-right: 20px;
}

#template-workflow {
  list-style-type: none;
  padding: 0;
}

#template-workflow li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #7f7f7f;
}

.template-workflow-component-type {
  width: 30%;
}

.template-workflow-component-specifications {
  width: 60%;
}

.template-workflow-component-remove-button {
  font-size: 25px;
  margin-left: auto;
  margin-right: 0;
  color: #dc3545;
  transition-duration: 0.1s;
}

.template-workflow-component-remove-button:hover {
  color: #be2d3b;
}

@media (max-width: 1200px) {
  .template-workflow-component-type {
    width: 15%;
  }

  .template-workflow-component-specifications {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .template-workflow-component-type {
    width: 35%;
  }

  .template-workflow-component-specifications {
    width: 60%;
  }
}

.template-workflow-component-module-search ul, .template-workflow-component-event-search ul {
  width: min(260px, 100%);
  margin: 20px auto auto;
  padding: 0;
  list-style-type: none;
  max-height: calc(57px * 3 - 5px);
  overflow: auto;
}

.template-workflow-component-module-entry, .template-workflow-component-event-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition-duration: 0.2s;
}

.template-workflow-component-module-entry:last-child, .template-workflow-component-event-entry:last-child {
  margin-bottom: 0;
}

.dark .template-workflow-component-module-entry:hover, .dark .template-workflow-component-event-entry:hover {
  background-color: #424b53;
}

.light .template-workflow-component-module-entry:hover, .light .template-workflow-component-event-entry:hover {
  background-color: #bebebe;
}

.template-workflow-component-module-entry-information, .template-workflow-component-event-entry-information {
  width: 100%;
  display: flex;
  align-items: center;
}

.template-workflow-component-module-entry-icon, .template-workflow-component-event-entry-icon {
  width: 32px;
  height: 32px;
  border-radius: 25%;
}

.template-workflow-component-module-entry-name, .template-workflow-component-event-entry-name {
  margin-left: 20px;
  font-size: 18px;
  text-align: left;
}

.template-workflow-component-module-content input, .template-workflow-component-event-content input {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  padding: 10px !important;
}

.template-workflow-component-module-content input, .template-workflow-component-event-content input {
  border: 1px solid white;
  color: white;
}

.template-workflow-component-module-content input, .template-workflow-component-event-content input {
  border: 1px solid black;
  color: black;
}

.template-workflow-component-module-content input::placeholder, .template-workflow-component-event-content input::placeholder {
  color: #a5a5a5;
}

.template-workflow-add-action {
  width: 100%;
  text-align: center;
  margin-top: 2vh;
}

.template-workflow-add-action i {
  font-size: 22px;
  border-radius: 50%;
  padding: 15px;
  transition-duration: 0.4s;
}

.dark .template-workflow-add-action i {
  background-color: #5c616a;
}

.dark .template-workflow-add-action i:hover{
  background-color: #3c3f45;
}

.light .template-workflow-add-action i {
  background-color: #99a2b0;
}

.light .template-workflow-add-action i:hover{
  background-color: #666a73;
}

#template-access-type {
  width: min(250px, 100%);
}

#template-description-languages {
  width: 100%;
  margin: auto auto 4vh;
}

#template-description-languages .nav {
  border: none !important;
}

#template-description-languages .nav-link {
  width: 100%;
  border: none !important;
}

.dark #template-description-languages .nav-link {
  color: white;
  border-bottom: 3px solid #1d2633 !important;
}

.light #template-description-languages .nav-link {
  color: black;
  border-bottom: 3px solid #c5c5c5 !important;
}

#template-description-languages .nav-item .active {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #5374ab, #d5d779) 1 !important;
}

.dark #template-description-languages .nav-item .active {
  background-color: #0d1117;
}

.light #template-description-languages .nav-item .active {
  background-color: #fafafa;
}

#template-description-content {
  margin-left: 20px;
  margin-right: 20px;
}

.dark input[type=text], .dark textarea  {
  background-color: #0d1117 !important;
  color: white !important;
  -webkit-text-fill-color: white;
  border: 1px solid #cecece !important;
}

.dark input[type=text]::placeholder, .dark textarea::placeholder {
  color: #828282 !important;
  -webkit-text-fill-color: #828282;
}

.light input[type=text], .light textarea {
  background-color: #eaeaea !important;
  color: black !important;
  -webkit-text-fill-color: black;
  border: 1px solid #4c4c4c !important;
}

.light input[type=text]::placeholder, .light textarea::placeholder {
  color: #949494 !important;
  -webkit-text-fill-color: #949494;
}

input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=text]:-webkit-autofill:focus,
input[type=text]:-webkit-autofill:active{
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}