{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'templates/head.html' %}
  <body>
    {% include 'templates/panel-header.html' %}
    {% include 'templates/panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="ticket-container">
        <h1 id="ticket-headline"></h1>
        <hr class="hr border-white my-4"/>
        <ul id="ticket-messages">
        </ul>
        <div id="ticket-operations">
          <button type="button" id="ticket-message-add" class="btn btn-primary disabled">{% trans 'ticket.message.add' %}</button>
          <button type="button" id="ticket-delete" class="btn btn-danger">{% trans 'ticket.delete' %}</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var ticket;

  $(document).ready(function() {
    fetchTicketsData(function() {
      displayTicket();
    });
  });

  function fetchTicketsData(callback) {
    let request = new HttpRequest("https://team.taskwolf.net/v1/ticket/find/", "POST", [],
      {ticket: "{{ticket}}"});
    request.send(function (status, responseText) {
      ticket = JSON.parse(responseText);
      callback();
    });
  }

  function displayTicket() {
    document.getElementById("ticket-headline").innerHTML = ticket.title;
    for (var i = 0; i < ticket.messages.length; i++) {
      displayMessage(ticket.messages[i], i);
    }
    displayAnswerField();
  }

  function displayMessage(message, index) {
    var messageElement = document.createElement("div");
    messageElement.classList.add("ticket-message", "ql-editor");
    messageElement.innerHTML = message.message;
    var entry = displayEntry(message.teamWritten, message.author,
      message.time.split(" ")[0], message.time.split(" ")[1], messageElement);
    if (index > 0 && message.selfWritten) {
      var deleteButton = document.createElement("button");
      deleteButton.type = "button";
      deleteButton.classList.add("ticket-message-delete");
      var deleteIcon = document.createElement("span");
      deleteButton.classList.add("fa-solid", "fa-trash-can");
      deleteButton.appendChild(deleteIcon);
      deleteButton.onclick = function() {
        deleteMessage(message.id);
      }
      entry.appendChild(deleteButton);
    }
  }

  function deleteMessage(id) {
    Swal.fire({
      title: "{% trans 'ticket.message.delete.title' %}",
      text: "{% trans 'ticket.message.delete.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("https://team.taskwolf.net/v1/ticket/message/delete/", "POST", [],
          {ticket: ticket.id, message: id});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'ticket.message.delete.successful.title' %}", "{% trans 'ticket.message.delete.successful.body' %}", "success").then(success => window.location.reload());
        });
      }
    });
  }

  function displayAnswerField() {
    var answerField = document.createElement("div");
    answerField.id = "ticket-answer-field";
    displayEntry(true, "Taskwolf", "", "", answerField);
    var quill = new Quill('#ticket-answer-field', {
      modules: {
        toolbar: [
          [{'size': ['huge', 'large', false, 'small']}],
          ['bold', 'italic', 'underline'],
          ['image'],
          [{'list': 'ordered'}, {'list': 'bullet'}],
          [{'align': []}],
          [{'color': []}],
        ]
      },
      theme: 'snow'
    });
    quill.on('text-change', function(delta, oldDelta, source) {
      if (answerField.firstElementChild.innerHTML !== "<p><br></p>") {
        document.getElementById("ticket-message-add").classList.remove("disabled");
      } else {
        document.getElementById("ticket-message-add").classList.add("disabled");
      }
    });
  }

  function displayEntry(taskwolfWritten, author, date, time, contentElement) {
    var messageContainer = document.createElement("li");
    messageContainer.classList.add("ticket-message-container");
    var messageDescription = document.createElement("div");
    messageDescription.classList.add("ticket-message-description")
    if (taskwolfWritten) {
      var taskwolfPicture = document.createElement("img");
      taskwolfPicture.classList.add("ticket-message-profile-picture");
      taskwolfPicture.src = "{% static 'img/taskwolf-profile-picture.png' %}";
      messageDescription.appendChild(taskwolfPicture);
    } else {
      var userPicture = document.createElement("i");
      userPicture.classList.add("ticket-message-profile-icon", "fa-regular", "fa-user");
      messageDescription.appendChild(userPicture);
    }
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageAuthor = document.createElement("b");
    messageAuthor.classList.add("ticket-message-author");
    messageAuthor.innerHTML = author;
    messageDescription.appendChild(messageAuthor);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageDate = document.createElement("label");
    messageDate.classList.add("ticket-message-date");
    messageDate.innerHTML = date;
    messageDescription.appendChild(messageDate);
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var messageTime = document.createElement("label");
    messageTime.classList.add("ticket-message-time");
    messageTime.innerHTML = time;
    messageDescription.appendChild(messageTime);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var divider = document.createElement("div");
    divider.classList.add("ticket-message-divider");
    messageContainer.appendChild(divider);
    var messageContent = document.createElement("div");
    messageContent.classList.add("ticket-message-content");
    messageContent.appendChild(contentElement);
    messageContainer.appendChild(messageContent);
    document.getElementById("ticket-messages").appendChild(messageContainer);
    return messageContainer;
  }

  document.getElementById("ticket-message-add").onclick = function(event) {
    var message = document.getElementById("ticket-answer-field").firstElementChild.innerHTML;
    let request = new HttpRequest("https://team.taskwolf.net/v1/ticket/answer/", "POST", [],
      {ticket: ticket.id, message: message});
    request.send(function (status, responseText) {
      Swal.fire("{% trans 'ticket.message.add.successful.title' %}", "{% trans 'ticket.message.add.successful.body' %}", "success").then(success => window.location.reload());
    });
  }

  document.getElementById("ticket-delete").onclick = function(event) {
    Swal.fire({
      title: "{% trans 'ticket.delete.title' %}",
      text: "{% trans 'ticket.delete.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("https://team.taskwolf.net/v1/ticket/delete/", "POST", [],
          {ticket: ticket.id});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'ticket.delete.successful.title' %}", "{% trans 'ticket.delete.successful.body' %}", "success").then(success => window.location.href = "/tickets/");
        });
      }
    });
  }
</script>