{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'templates/head.html' %}
    <body>
    {% include 'templates/neutral-header.html' %}
    <div class="settings-container">
      {% include 'templates/settings-sidebar.html' %}
      <div class="settings-content">
        <h1 class="settings-headline">{% trans 'settings.language.headline' %}</h1>
        <h3 id="settings-language-select-headline">{% trans 'settings.language.select' %}</h3>
        <div id="settings-language-container">
          <input id="settings-language-en" class="settings-language" src="{% static 'img/languages/en.png' %}" type="image"/>
          <input id="settings-language-de" class="settings-language" src="{% static 'img/languages/de.png' %}" type="image"/>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    let request = new HttpRequest("https://api.taskwolf.net/v1/settings/language/", "GET", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}]);
    request.send(function (status, responseText) {
      var language = JSON.parse(responseText).language;
      document.getElementById("settings-language-" + language).classList.add("settings-language-selected");
    });
  });

  document.getElementById("settings-language-en").onclick = function(event) {
    changeLanguage("en");
  }

  document.getElementById("settings-language-de").onclick = function(event) {
    changeLanguage("de");
  }

  function changeLanguage(code) {
    let request = new HttpRequest("https://api.taskwolf.net/v1/settings/language/change/", "POST", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}], {language: code});
    request.send(function (status, responseText) {
      window.location.reload();
    });
  }
</script>