{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'settings-header.html' %}
    <div class="settings-container">
      {% include 'settings-sidebar.html' %}
      <div class="sidebar-influenced">
        <div class="settings-content">
          <h1 class="settings-headline">{% trans 'settings.2fa.headline' %}</h1>
          <div id="settings-2fa-container">
            <button type="button" id="settings-2fa-enable" class="btn btn-success d-block px-5 mx-auto d-none">{% trans 'settings.2fa.enable' %}</button>
            <button type="button" id="settings-2fa-disable" class="btn btn-danger d-block px-5 mx-auto d-none">{% trans 'settings.2fa.disable' %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% include '2fa.html' %}

<script>
  $(document).ready(function() {
    fetch2FA(function (enabled) {
      display2FAOptions(enabled);
      needs2FAConfirmation(function (needsConfirmation) {
        if (needsConfirmation) {
          openConfirmWindow();
        }
      });
    });
  });

  function display2FAOptions(enabled) {
    if (enabled) {
      document.getElementById("settings-2fa-disable").classList.remove("d-none");
    } else {
      document.getElementById("settings-2fa-enable").classList.remove("d-none");
    }
  }

  function fetch2FA(callback) {
    let request = new HttpRequest("/settings/2fa/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).enabled);
    });
  }

  function needs2FAConfirmation(callback) {
    let request = new HttpRequest("/settings/2fa/isConfirmed/", "GET", []);
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      if (response.success === false) {
        callback(false);
        return;
      }
      callback(!response.confirmed);
    });
  }

  document.getElementById("settings-2fa-enable").onclick = function (event) {
    switch2FA();
  }

  document.getElementById("settings-2fa-disable").onclick = function (event) {
    switch2FA();
  }

  function switch2FA() {
    let content = document.createElement("div");
    content.classList.add("settings-2fa-switch-password-content");
    let text = document.createElement("p");
    text.innerText = "{% trans 'settings.2fa.switch.password.body' %}";
    content.appendChild(text);
    let input = document.createElement("input");
    input.placeholder = "{% trans 'settings.2fa.switch.password' %}";
    input.type = "password";
    content.appendChild(input);
    Swal.fire({
      title: "{% trans 'settings.2fa.switch.password.title' %}",
      html: content,
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("/settings/2fa/switch/", "POST",
          [], {password: input.value});
        request.send(function (status, responseText) {
          let response = JSON.parse(responseText);
          if (response.success === false) {
            Swal.fire("{% trans 'settings.2fa.switch.password.failed.title' %}",
              "{% trans 'settings.2fa.switch.password.failed.body' %}", "error");
            return;
          }
          if (!("qrCode" in response)) {
            window.location.reload();
            return;
          }
          showQRCode(response);
        });
      }
    });
  }

  function showQRCode(response) {
    let qrCode = response.qrCode;
    let content = document.createElement("ul");
    content.classList.add("settings-2fa-qrcode-steps");
    content.innerHTML += "<li>{% trans 'settings.2fa.qrcode.step.1' %}</li>";
    content.innerHTML += "<li>{% trans 'settings.2fa.qrcode.step.2' %}</li>";
    content.innerHTML += "<p class='ms-1 mt-4 settings-2fa-secret'>" + response.secret + "</p>";
    Swal.fire({
      title: "{% trans 'settings.2fa.qrcode.title' %}",
      html: content,
      confirmButtonText: "{% trans 'settings.2fa.next' %}",
      imageUrl: "data:image/png;base64," + qrCode,
      imageWidth: 256,
      imageHeight: 256
    }).then(success => showRecoveryCodes(response));
  }

  function showRecoveryCodes(response) {
    let recoveryCodes = response.recoveryCodes;
    let content = document.createElement("div");
    let firstDisclaimer = document.createElement("p");
    firstDisclaimer.classList.add("settings-2fa-recovery-codes-disclaimer");
    firstDisclaimer.innerHTML = "{% trans 'settings.2fa.recovery.codes.disclaimer.1' %}";
    content.appendChild(firstDisclaimer);
    let secondDisclaimer = document.createElement("p");
    secondDisclaimer.classList.add("settings-2fa-recovery-codes-disclaimer", "mb-5");
    secondDisclaimer.innerHTML = "{% trans 'settings.2fa.recovery.codes.disclaimer.2' %}";
    content.appendChild(secondDisclaimer);
    let copyButton = document.createElement("a");
    copyButton.classList.add("settings-2fa-recovery-codes-copy");
    copyButton.href = "javascript:void(null);";
    copyButton.onclick = function () {
      copyRecoveryCodes(recoveryCodes);
    };
    copyButton.innerHTML = "{% trans 'settings.2fa.recovery.codes.copy' %}";
    content.appendChild(copyButton);
    let codes = document.createElement("ul");
    codes.classList.add("settings-2fa-recovery-codes");
    for (let i = 0; i < recoveryCodes.length; i++) {
      let recoveryCode = document.createElement("li");
      recoveryCode.innerHTML = recoveryCodes[i];
      codes.appendChild(recoveryCode);
    }
    content.appendChild(codes);
    Swal.fire({
      title: "{% trans 'settings.2fa.recovery.codes.title' %}",
      html: content,
      confirmButtonText: "{% trans 'settings.2fa.next' %}"
    }).then(success => openConfirmWindow());
  }

  function copyRecoveryCodes(recoveryCodes) {
    let result = "";
    for (let i = 0; i < recoveryCodes.length; i++) {
      result += recoveryCodes[i] + "\n";
    }
    navigator.clipboard.writeText(result);
  }

  function openConfirmWindow() {
    Swal.fire({
      title: "{% trans 'settings.2fa.confirm.title' %}",
      text: "{% trans 'settings.2fa.confirm.body' %}",
      confirmButtonText: "{% trans 'settings.2fa.next' %}"
    }).then(result => {
      if (result.isConfirmed) {
        confirm2FA();
      }
    });
  }

  function confirm2FA() {
    display2FA(function(code) {
      let request = new HttpRequest("/settings/2fa/confirm/", "POST",
        [], {code: code});
      request.send(function (status, responseText) {
        let response = JSON.parse(responseText);
        if (response.success === false) {
          Swal.fire("{% trans 'settings.2fa.confirm.failed.title' %}",
            "{% trans 'settings.2fa.confirm.failed.body' %}", "error")
            .then(success => confirm2FA());
          return;
        }
        Swal.fire("{% trans 'settings.2fa.confirm.successful.title' %}",
          "{% trans 'settings.2fa.confirm.successful.body' %}", "success")
          .then(success => window.location.reload());
      });
    });
  }
</script>