{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'templates/head.html' %}
  <body>
    {% include 'templates/neutral-header.html' %}
    <div class="settings-container">
      {% include 'templates/settings-sidebar.html' %}
      <div class="settings-content">
        <h1 class="settings-headline">{% trans 'settings.profile.headline' %}</h1>
        <form>
          <div class="form-outline mb-4">
            <label for="settings-profile-name" class="form-label">{% trans 'settings.profile.name' %}</label>
            <input id="settings-profile-name" type="name" class="form-control" placeholder="{% trans 'settings.profile.name' %}">
            <button id="settings-profile-update-button" type="button" class="btn btn-success mt-4">{% trans 'settings.profile.name.update' %}</button>
          </div>
          <div id="settings-profile-picture-container" class="form-outline mb-4">
            <div>
              <label for="settings-profile-picture" class="form-label">{% trans 'settings.profile.picture' %}</label>
              <img id="settings-profile-picture">
            </div>
            <div id="settings-profile-picture-button-container">
              <input id="settings-profile-picture-input" type="file" name="img" accept="image/*" class="d-none"/>
              <button id="settings-profile-picture-button" type="button" class="btn btn-primary">{% trans 'settings.profile.picture.edit' %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayCurrentUsername();
    displayCurrentProfilePicture();
  });

  function displayCurrentUsername() {
    let request = new HttpRequest("https://api.taskwolf.net/v1/settings/profile/username/", "GET", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}]);
    request.send(function (status, responseText) {
      document.getElementById("settings-profile-name").value = JSON.parse(responseText).username;
    });
  }

  function displayCurrentProfilePicture() {
    let request = new HttpRequest("https://api.taskwolf.net/v1/settings/profile/picture/", "GET", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}]);
    request.send(function (status, responseText) {
      document.getElementById("settings-profile-picture").src = JSON.parse(responseText).picture;
    });
  }

  document.getElementById("settings-profile-update-button").onclick = function(event) {
    let request = new HttpRequest("https://api.taskwolf.net/v1/settings/profile/username/change/", "POST", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}], {username: document.getElementById("settings-profile-name").value});
    request.send(function (status, responseText) {
      swal("{% trans 'settings.profile.name.changed.title' %}", "{% trans 'settings.profile.name.changed.body' %}", "success");
    });
  };

  document.getElementById("settings-profile-picture-button").onclick = function(event) {
    document.getElementById("settings-profile-picture-input").click();
  };

  document.getElementById("settings-profile-picture-input").onchange = function(event) {
    const fileReader = new FileReader();
    fileReader.addEventListener("load", function(event) {
      let request = new HttpRequest("https://api.taskwolf.net/v1/settings/profile/picture/change/", "POST", [{key: "Content-Type", value: "application/json"},
        {key: "Authorization", value: "Bearer " + Cookie.find("token")}], {picture: event.target.result});
      request.send(function (status, responseText) {
        swal("{% trans 'settings.profile.picture.edited.title' %}", "{% trans 'settings.profile.picture.edited.body' %}", "success").then(success => window.location.reload());
      });
    });
    fileReader.readAsDataURL(this.files[0]);
  };
</script>