{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="dashboard-wrapper">
        <div id="dashboard-container" class="d-none">
          <div id="dashboard-header">
            <div id="dashboard-header-content">
              <img id="dashboard-header-logo" src="https://dulno.com/static/img/logo-light.webp">
              <h1 id="dashboard-headline">{% trans 'panel.dashboard.welcome' %}<br> </h1>
            </div>
          </div>
          <div id="dashboard-content">
            <div id="dashboard-tip-container" class="dashboard-content-entry">
              <h2 class="fw-bold mb-4">{% trans 'panel.dashboard.tip.headline' %}</h2>
              <div id="dashboard-tip">
              </div>
            </div>
            <div class="dashboard-content-entry">
              <h2 class="fw-bold mb-4">{% trans 'panel.dashboard.statistics.headline' %}</h2>
              <div id="dashboard-progress" >
                <div class="dashboard-progress-entry">
                  <h4 class="dashboard-progress-entry-headline">{% trans 'panel.dashboard.open.tickets' %}</h4>
                  <div id="dashboard-open-tickets-circle" class="dashboard-progress-entry-circle"></div>
                </div>
                <div class="dashboard-progress-entry">
                  <h4 class="dashboard-progress-entry-headline">{% trans 'panel.dashboard.open.questions' %}</h4>
                  <div id="dashboard-open-questions-circle" class="dashboard-progress-entry-circle"></div>
                </div>
                <div class="dashboard-progress-entry">
                  <h4 class="dashboard-progress-entry-headline">{% trans 'panel.dashboard.open.sales' %}</h4>
                  <div id="dashboard-open-sales-circle" class="dashboard-progress-entry-circle"></div>
                </div>
              </div>
            </div>
            <div class="dashboard-content-entry">
              <h2 class="fw-bold mb-4">{% trans 'product.dashboard.services.headline' %}</h2>
              <ul id="dashboard-service-list">
                <li class="dashboard-service">
                  <div class="d-flex align-items-center">
                    <div class="dashboard-service-icon">
                      <i class="fa-solid fa-globe"></i>
                    </div>
                    <span class="dashboard-service-name">Website</span>
                  </div>
                  <div id="dashboard-service-status-web" class="dashboard-service-status">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </li>
                <div class="dashboard-service-separator"></div>
                <li class="dashboard-service">
                  <div class="d-flex align-items-center">
                    <div class="dashboard-service-icon">
                      <i class="fa-solid fa-server"></i>
                    </div>
                    <span class="dashboard-service-name">API</span>
                  </div>
                  <div id="dashboard-service-status-api" class="dashboard-service-status">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </li>
                <div class="dashboard-service-separator"></div>
                <li class="dashboard-service">
                  <div class="d-flex align-items-center">
                    <div class="dashboard-service-icon">
                      <i class="fa-solid fa-book"></i>
                    </div>
                    <span class="dashboard-service-name">Documentation</span>
                  </div>
                  <div id="dashboard-service-status-documentation" class="dashboard-service-status">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </li>
                <div class="dashboard-service-separator"></div>
                <li class="dashboard-service">
                  <div class="d-flex align-items-center">
                    <div class="dashboard-service-icon">
                      <i class="fa-solid fa-gauge"></i>
                    </div>
                    <span class="dashboard-service-name">Panel</span>
                  </div>
                  <div id="dashboard-service-status-panel" class="dashboard-service-status">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </li>
                <div class="dashboard-service-separator"></div>
                <li class="dashboard-service">
                  <div class="d-flex align-items-center">
                    <div class="dashboard-service-icon">
                      <i class="fa-solid fa-server"></i>
                    </div>
                    <span class="dashboard-service-name">Panel API</span>
                  </div>
                  <div id="dashboard-service-status-panel-api" class="dashboard-service-status">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </li>
                <div class="dashboard-service-separator"></div>
                <li class="dashboard-service">
                  <div class="d-flex align-items-center">
                    <div class="dashboard-service-icon">
                      <i class="fa-brands fa-gitlab"></i>
                    </div>
                    <span class="dashboard-service-name">GitLab</span>
                  </div>
                  <div id="dashboard-service-status-gitlab" class="dashboard-service-status">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchUsername(function(username) {
      document.getElementById("dashboard-headline").innerHTML += username;
      fetchTicketData(function(tickets) {
        fetchQuestionData(function(questions) {
          fetchSaleData(function(sales) {
            displayStatistics(tickets, questions, sales);
            fetch2FA(function(twoFactorEnabled) {
              displayTip(twoFactorEnabled);
              displayServiceAvailabilities();
              removeLoader();
            });
          });
        });
      });
    });
  });

  function displayStatistics(tickets, questions, sales) {
    document.getElementById("dashboard-open-tickets-circle").innerHTML = "";
    document.getElementById("dashboard-open-questions-circle").innerHTML = "";
    document.getElementById("dashboard-open-sales-circle").innerHTML = "";
    var totalRequests = tickets + questions + sales;
    drawProgress("#dashboard-open-tickets-circle", tickets, totalRequests , "",
      "#235bd1", "#4d88ff");
    drawProgress("#dashboard-open-questions-circle", questions, totalRequests, "",
      "#d18623", "#ffa83f");
    drawProgress("#dashboard-open-sales-circle", sales, totalRequests, "",
      "#23d17a", "#4cffa9");
  }

  function displayServiceAvailabilities() {
    displayServiceAvailability("web", "https://dulno.com/");
    displayServiceAvailability("api", "https://api.dulno.com/v1/");
    displayServiceAvailability("documentation", "https://documentation.dulno.com/");
    displayServiceAvailability("panel", "https://panel.dulno.com/");
    displayServiceAvailability("panel-api", "https://team.dulno.com/v1/");
    displayServiceAvailability("gitlab", "https://git.dulno.com/");
  }

  function displayTip(twoFactorEnabled) {
    if (!twoFactorEnabled) {
      document.getElementById("dashboard-tip").appendChild(createTip(
        "{% trans 'panel.dashboard.tip.2fa.headline' %}",
        "{% trans 'panel.dashboard.tip.2fa.description' %}", "dashboard-tip-issue"));
    } else {
      document.getElementById("dashboard-tip-container").classList.add("d-none");
    }
  }

  function createTip(headline, description, type) {
    let tipElement = document.createElement("div");
    tipElement.classList.add(type);
    let headlineElement = document.createElement("h4");
    headlineElement.innerText = headline;
    tipElement.appendChild(headlineElement);
    let descriptionElement = document.createElement("span");
    descriptionElement.innerText = description;
    tipElement.appendChild(descriptionElement);
    return tipElement;
  }

  function drawProgress(circleElement, value, maxValue, circleValueSuffix, toDarkColor, toLightColor) {
    let isDarkTheme = Cookie.find("dulno-panel-theme") === "dark";
    var bar = new ProgressBar.Circle(circleElement, {
      strokeWidth: 4,
      color: isDarkTheme ? '#ffffff' : '#000000',
      trailColor: isDarkTheme ? '#4a4a4a' : '#c1c1c1',
      trailWidth: 1.8,
      easing: 'easeInOut',
      duration: 800,
      text: {
        autoStyleContainer: false
      },
      from: { color: isDarkTheme ? "#d3d3d3" : "#9e9e9e", width: 2 },
      to: { color: isDarkTheme ? toDarkColor : toLightColor, width: 4 },
      step: function(state, circle) {
        circle.path.setAttribute('stroke', state.color);
        circle.path.setAttribute('stroke-width', state.width);
        var value = Math.round(circle.value() * maxValue);
        circle.setText(value + circleValueSuffix);
      }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '2rem';
    bar.animate(value / maxValue);
  }

  function fetchUsername(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/settings/profile/username/", "GET", []);
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      callback(response.username);
    });
  }

  function fetchTicketData(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/tickets/pending/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).tickets);
    });
  }

  function fetchQuestionData(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/questions/pending/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).questions);
    });
  }

  function fetchSaleData(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/sales/pending/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).sales);
    });
  }

  function fetch2FA(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/settings/2fa/", "GET", []);
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      callback(response.enabled);
    });
  }

  function displayServiceAvailability(identifier, url) {
    isUrlReachable(url, function (reachable)  {
      var element = document.getElementById("dashboard-service-status-" + identifier);
      element.innerHTML = "";
      var iconContainer = document.createElement("div");
      iconContainer.classList.add("d-flex", "justify-content-center",
        "align-items-center", "rounded-2", "w-100", "h-100");
      var iconElement = document.createElement("i");
      iconElement.classList.add("fa-solid", "text-light");
      if (reachable) {
        iconElement.classList.add("fa-check");
        iconContainer.classList.add("bg-success");
      } else {
        iconElement.classList.add("fa-xmark");
        iconContainer.classList.add("bg-danger");
      }
      iconContainer.appendChild(iconElement);
      element.appendChild(iconContainer);
      applyTooltips(iconContainer, element, reachable ?
        "{% trans 'panel.dashboard.service.online' %}" :
        "{% trans 'panel.dashboard.service.offline' %}")
    });
  }

  function applyTooltips(element, container, text) {
    $(element).attr("data-bs-toggle", "tooltip");
    $(element).attr("data-bs-placement", "top");
    $(element).attr("data-bs-title", text);
    container.classList.add("position-relative");
    new bootstrap.Tooltip(element, {
      container: container
    });
  }

  async function isUrlReachable(url, callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/service/available/",
      "POST", [], {url: url});
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      callback(response.available);
    });
  }


  function displayLoader() {
    document.getElementById("dashboard-container").classList.add("d-none");
    var loader = document.createElement("div");
    loader.id = "dashboard-loader";
    loader.classList.add("loader");
    document.getElementById("dashboard-wrapper").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("dashboard-wrapper").removeChild(document.getElementById("dashboard-loader"));
    document.getElementById("dashboard-container").classList.remove("d-none");
  }
</script>