#cluster-unit-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#cluster-unit-pod-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#cluster-unit-back {
  width: 52px;
  height: 52px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 25px;
}

.dark #cluster-unit-back {
  color: #b5b5b5;
}

.light #cluster-unit-back {
  color: #656565;
}

.dark #cluster-unit-back:hover {
  background-color: #212937;
}

.light #cluster-unit-back:hover {
  background-color: #d3d3d3;
}

.cluster-unit-section {
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dark .cluster-unit-section {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light .cluster-unit-section {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

.cluster-unit-section-quadrant {
  width: 30%;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 1199px) {
  .cluster-unit-section-quadrant {
    width: min(320px, 100%);
  }
}

.dark .cluster-unit-section-quadrant {
  background-color: #1b222d;
}

.light .cluster-unit-section-quadrant {
  background-color: #c4c4c4;
}

#cluster-unit-pods-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: auto;
}

#cluster-unit-pods-list li {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dark #cluster-unit-pods-list li {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.dark #cluster-unit-pods-list li:hover {
  background-color: #181e28;
}

.light #cluster-unit-pods-list li {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

.light #cluster-unit-pods-list li:hover {
  background-color: #c4c4c4;
}

.cluster-unit-pods-icon {
  width: 40px;
  text-align: center;
  margin-right: 40px;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .cluster-unit-pods-icon {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .cluster-unit-pods-icon {
    display: none !important;
  }
}

.cluster-unit-pod-phase {
  border-radius: 5px;
  padding: 10px;
}

.cluster-unit-pod-phase-running, .cluster-unit-pod-phase-succeeded {
  border: 2px #42a94b solid;
  background-color: #d7f8da;
  color: #1f721c;
}

.cluster-unit-pod-phase-pending {
  border: 2px #a99442 solid;
  background-color: #f8f1d7;
  color: #72571c;
}

.cluster-unit-pod-phase-failed {
  border: 2px #a94242 solid;
  background-color: #f8d7da;
  color: #721c24;
}

.cluster-unit-pod-phase-unknown {
  border: 2px #afafaf solid;
  background-color: #ffffff;
  color: #000000;
}

#cluster-unit-restart {
  border-radius: 50%;
  padding: 15px;
  transition-duration: 0.2s;
}

.dark #cluster-unit-restart {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light #cluster-unit-restart {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

.dark #cluster-unit-restart:hover {
  background-color: #1b222d;
}

.light #cluster-unit-restart:hover {
  background-color: #c4c4c4;
}