#cluster-backups-wrapper {
  width: min(1200px, 95%);
  margin: auto;
}

#cluster-backups-list {
  list-style-type: none;
  padding: 0;
  width: 95%;
  margin: auto;
}

#cluster-backups-list li {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dark #cluster-backups-list li {
  background-color: #131820;
  border: 1px #2b3441 solid;
}

.light #cluster-backups-list li {
  background-color: #dadada;
  border: 1px #a0a0a0 solid;
}

.cluster-backups-icon {
  width: 40px;
  text-align: center;
  margin-right: 40px;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .cluster-backups-icon {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .cluster-backups-icon {
    display: none !important;
  }
}

.cluster-backups-download {
  transition-duration: 0.2s;
}

.dark .cluster-backups-download:hover {
  color: #d8d8d8;
}

.light .cluster-backups-download:hover {
  color: #3a3a3a;
}

@keyframes cluster-backups-download-shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(2px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

@keyframes cluster-backups-download-green {
  10% { color: #36df3d; }
  90% { color: #36df3d; }
}
