#users-wrapper {
  width: min(600px, 95%);
  margin-left: auto;
  margin-right: auto;
}

#users-headline {
  text-align: center;
  font-weight: bold;
  margin-top: 25vh;
}

#users-search-box {
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

.dark #users-search-box {
  background-color: #202428;
}

.light #users-search-box {
  background-color: #d8d8d8;
}

#users-search-box input {
  flex-grow: 2;
  border: none;
  border-radius: 5px;
}

#users-search-box input::placeholder {
  color: #828282 !important;
  -webkit-text-fill-color: #828282;
}

.dark #users-search-box input {
  background-color: #202428;
  color: white;
}

.light #users-search-box input {
  background-color: #d8d8d8;
  color: black;
}

#users-search-box input:focus{
  box-shadow: 0 0 0 rgb(255, 255, 255);
}

#users-search-box button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.dark #users-search-box button {
  background-color: #202428;
  color: #9b9b9b;
}

.light #users-search-box button {
  background-color: #d8d8d8;
  color: #545454;
}