#sales-headline {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}

#sales-header {
  width: min(1500px, 95%);
  margin: 5vh auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sales-search-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: #202428;
}

#sales-search-box input {
  flex-grow: 2;
  border: none;
  border-radius: 5px;
  background-color: #202428;
  color: white;
}

#sales-search-box input:focus{
  box-shadow: 0 0 0 rgb(255, 255, 255);
}

#sales-search-box button {
  background-color: #202428;
  color: #9b9b9b;
  border: none;
  border-radius: 5px;
}

@media (max-width: 400px) {
  #sales-header {
    margin-bottom: 5%;
  }
}

#sales-list {
  width: min(calc(2000px - 15vw), 95%);
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

#sales-list li {
  border-bottom: 1px #4a4a4a solid;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 18px;
  transition-duration: 0.3s;
}

#sales-list li:hover {
  background-color: #19202c !important;
}

#sales-list li div {
  padding: 3%;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
}

.sale-entry-title {
  width: 60% !important;
}

#sales-table-description {
  width: min(calc(2000px - 15vw), 95%);
  position: relative;
  list-style-type: none;
  margin: auto;
  margin-top: 1%;
  border-bottom: 4px #717171 solid;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: row;
}

#sales-table-description li {
  width: 20%;
  padding: 2% 3%;
  font-weight: bold;
  font-size: 20px;
}

#sales-table-description-title {
  width: 60% !important;
}

#sales-table-description button {
  border: none;
  background-color: #222b38;
  color: #9b9b9b;
}

@media (max-width: 400px) {
  #sales-table-description li {
    font-size: .8em;
  }

  #sales-list li div span {
    font-size: .8em;
  }
}

#sales-empty {
  color: white;
  display: none;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  white-space: pre;
}

#sales-empty-headline {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1%;
}

#sales-empty-link {
  text-decoration: none;
}