{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="templates-wrapper">
        <h1 id="templates-headline">{% trans 'templates.headline' %}</h1>
        <div id="templates-header">
          <div id="templates-search-box">
            <input id="templates-search-input" placeholder="{% trans 'templates.search' %}" type="text" class="form-control" value="" autocomplete="off">
            <button type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <button type="button" id="template-create" class="btn btn-primary ms-4 px-5">{% trans 'templates.create' %}</button>
        </div>
        <ul id="templates-list">
        </ul>
        <div id="templates-empty">
          <b id="templates-empty-headline">{% trans 'templates.empty' %}</b>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var templates;
  var templatesCurrentNameFilter = "";

  $(document).ready(function() {
    fetchTemplatesData(function() {
      displayTemplates();
    });
  });

  function fetchTemplatesData(callback) {
    let languageRequest = new HttpRequest("https://team.taskwolf.net/v1/settings/language/",
      "GET", []);
    languageRequest.send(function (languageStatus, languageResponseText) {
      var language = JSON.parse(languageResponseText).language;
      let templatesRequest = new HttpRequest(
        "https://api.taskwolf.net/v1/templates/all/unauthorized/" + language + "/",
        "GET", []);
      templatesRequest.send(function (templatesStatus, templatesResponseText) {
        templates = JSON.parse(templatesResponseText).templates;
        callback();
      });
    });
  }

  function displayTemplates() {
    document.getElementById("templates-list").innerHTML = "";
    var displayedEntries = 0;
    for (var i = 0; i < templates.length; i++) {
      var entry = templates[i];
      if(!(shouldDisplayTemplateEntry(entry))) {
        continue;
      }
      displayTemplate(entry.id, entry.name, entry.description, entry.trigger,
        entry.actions);
      displayedEntries++;
    }
    if (displayedEntries === 0) {
      document.getElementById("templates-empty").style.display = "block";
    } else {
      document.getElementById("templates-empty").style.display = "none";
    }
  }

  function shouldDisplayTemplateEntry(entry) {
    return templatesCurrentNameFilter.length === 0 ||
      entry.name.toLowerCase().includes(templatesCurrentNameFilter.toLowerCase()) ||
      entry.description.toLowerCase().includes(templatesCurrentNameFilter.toLowerCase());
  }

  function displayTemplate(id, name, description, trigger, actions) {
    var entryElement = document.createElement("li");
    entryElement.role = "button";
    entryElement.classList.add("template-entry");
    entryElement.appendChild(createWorkflowElement(trigger, actions));
    var nameElement = document.createElement("b");
    nameElement.innerHTML = name;
    entryElement.appendChild(nameElement);
    var descriptionElement = document.createElement("span");
    descriptionElement.innerHTML = description;
    entryElement.appendChild(descriptionElement);
    entryElement.onclick = function(event) {
      window.location.href = "/template/" + id + "/";
    }
    document.getElementById("templates-list").appendChild(entryElement);
  }

  function createWorkflowElement(trigger, actions) {
    var workflowElement = document.createElement("div");
    workflowElement.classList.add("template-workflow");
    workflowElement.appendChild(createLogoElement(trigger));
    for (var i = 0; i < actions.length; i++) {
      workflowElement.appendChild(createArrowElement());
      workflowElement.appendChild(createLogoElement(actions[i]));
    }
    return workflowElement;
  }

  function createLogoElement(module) {
    var logoElement = document.createElement("img");
    logoElement.src = "https://taskwolf.net/static/img/applications/" + module.moduleLogo;
    logoElement.width = 64;
    logoElement.height = 64;
    return logoElement;
  }

  function createArrowElement() {
    var arrow = document.createElement("span");
    arrow.classList.add("template-workflow-arrow");
    arrow.innerHTML = "&#10132;";
    return arrow;
  }

  document.getElementById("templates-search-input").oninput = function(event) {
    templatesCurrentNameFilter = event.target.value;
    displayTemplates();
  };

  document.getElementById("template-create").onclick = function (event) {
    window.location.href = "/template/create/"
  }
</script>