{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="templates-container">
        <div id="templates-wrapper" class="d-none">
          <h1 id="templates-headline">{% trans 'templates.headline' %}</h1>
          <div id="templates-header">
            <div id="templates-search-box">
              <input id="templates-search-input" placeholder="{% trans 'templates.search' %}" type="text" class="form-control" value="" autocomplete="off">
              <button type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <button type="button" id="template-create" class="btn btn-primary ms-4 px-5">{% trans 'templates.create' %}</button>
          </div>
          <ul id="templates-list">
          </ul>
          <button id="templates-load-more" type="button" class="btn btn-outline-success d-block mx-auto px-5 mt-5 d-none">{% trans 'templates.load.more' %} +</button>
          <div id="templates-empty" class="d-none">
            <b id="templates-empty-headline">{% trans 'templates.empty' %}</b>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var language;
  var totalPages = 0;
  var loadedPages = 0;
  var currentPageState = "";
  var currentSearch = "";

  $(document).ready(function() {
    displayLoader();
    fetchLanguage(function (result) {
      language = result;
      fetchMoreTemplates(function (templates) {
        displayTemplates(templates);
        removeLoader();
      });
    });
  });

  function updateTemplates() {
    document.getElementById("templates-list").innerHTML = "";
    loadedPages = 0;
    currentPageState = "";
    fetchMoreTemplates(function (templates) {
      displayTemplates(templates);
    });
  }

  function fetchLanguage(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/settings/language/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).language);
    });
  }

  function fetchMoreTemplates(callback) {
    let request = new HttpRequest("https://api.dulno.com/v1/templates/load/unauthorized/" + language + "/",
      "POST", [], {pageState: currentPageState, search: currentSearch});
    request.send(function (status, responseText) {
      var result = JSON.parse(responseText);
      currentPageState = result.page;
      totalPages = result.pageNumber;
      loadedPages++;
      callback(result.templates);
    });
  }

  function displayTemplates(templates) {
    var displayedEntries = 0;
    for (var i = 0; i < templates.length; i++) {
      var entry = templates[i];
      displayTemplate(entry.id, entry.name, entry.description, entry.trigger,
        entry.actions);
      displayedEntries++;
    }
    if (displayedEntries === 0) {
      document.getElementById("templates-empty").classList.remove("d-none");
      document.getElementById("templates-load-more").classList.add("d-none");
    } else {
      document.getElementById("templates-empty").classList.add("d-none");
      if (loadedPages < totalPages) {
        document.getElementById("templates-load-more").classList.remove("d-none");
      } else {
        document.getElementById("templates-load-more").classList.add("d-none");
      }
    }
  }

  function displayTemplate(id, name, description, trigger, actions) {
    var entryElement = document.createElement("li");
    entryElement.role = "button";
    entryElement.classList.add("template-entry");
    entryElement.appendChild(createWorkflowElement(trigger, actions));
    var nameElement = document.createElement("b");
    nameElement.innerHTML = name;
    entryElement.appendChild(nameElement);
    var descriptionElement = document.createElement("span");
    descriptionElement.innerHTML = description;
    entryElement.appendChild(descriptionElement);
    entryElement.onclick = function(event) {
      window.location.href = "/template/" + id + "/";
    }
    document.getElementById("templates-list").appendChild(entryElement);
  }

  function createWorkflowElement(trigger, actions) {
    var workflowElement = document.createElement("div");
    workflowElement.classList.add("template-workflow");
    workflowElement.appendChild(createLogoElement(trigger));
    for (var i = 0; i < actions.length; i++) {
      workflowElement.appendChild(createArrowElement());
      workflowElement.appendChild(createLogoElement(actions[i]));
    }
    return workflowElement;
  }

  function createLogoElement(module) {
    var logoElement = document.createElement("img");
    logoElement.src = "https://dulno.com/static/img/applications/" + module.moduleLogo;
    logoElement.width = 64;
    logoElement.height = 64;
    return logoElement;
  }

  function createArrowElement() {
    var arrow = document.createElement("span");
    arrow.classList.add("template-workflow-arrow");
    arrow.innerHTML = "&#10132;";
    return arrow;
  }

  document.getElementById("templates-search-input").oninput = function(event) {
    currentSearch = event.target.value;
    updateTemplates();
  };

  document.getElementById("templates-load-more").onclick = function (event) {
    fetchMoreTemplates(function (templates) {
      displayTemplates(templates);
    });
  }

  document.getElementById("template-create").onclick = function (event) {
    window.location.href = "/template/create/"
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("templates-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("templates-container").removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("templates-wrapper").classList.remove("d-none");
  }
</script>