#administration-wrapper {
  width: min(1200px, 95%);
  text-align: center;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

#administration-headline {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5vh;
}

#administration-groups {
  list-style-type: none;
  padding: 0;
}

.administration-group-header {
  display: flex;
  border-bottom: 2px #4a4a4a solid;
  padding-bottom: 5px;
  margin-bottom: 2vh;
}

.administration-group-edit {
  margin-left: auto;
  height: fit-content;
}

.administration-group-members {
  list-style-type: none;
}

.administration-group-member {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  transition-duration: 0.3s;
}

.dark .administration-group-member:hover {
  background-color: #232838;
}

.light .administration-group-member:hover {
  background-color: #cecece;
}

.administration-group-member-information {
  width: 100%;
  display: flex;
  align-items: center;
}

.administration-group-member-icon {
  font-size: 28px;
}

.administration-group-member-name {
  margin-left: 4%;
  font-size: 20px;
  font-weight: bold;
}

.administration-group-add-content input {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  padding: 10px !important;
}

.dark .administration-group-add-content input {
  border: 1px solid white;
  color: white;
}

.light .administration-group-add-content input {
  border: 1px solid black;
  color: black;
}

.administration-group-add-content input::placeholder {
  color: #a5a5a5;
}