body {
  background-color: #0d1117 !important;
}

body::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #322e25; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: dimgray !important;
  border-radius: 15px;
  border: 3px solid #322e25;
}

.swal2-modal {
  background-color: #343b41 !important;
  border: 2px solid #424b53 !important;
}

.swal2-title, .swal2-html-container {
  text-align: center !important;
}

.swal2-title, .swal2-html-container {
  color: white !important;
}

.swal2-content input {
  background-color: transparent !important;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  padding: 10px !important;
}

.swal2-content input {
  color: white;
  border: 1px solid white;
}

.swal2-content input::placeholder {
  color: #a5a5a5;
}