.navbar {
  z-index: 100;
  border-bottom: 1px #4a4a4a solid;
  position: fixed !important;
  width: 100%;
}

#header-space {
  height: 97px;
}

#sidebar-button {
  width: 40px;
  margin-left: 35px;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

#sidebar-button {
  color: white;
}

#navbar-logo {
  margin-left: 25px;
}

#navbar-logo img {
  padding: 5px;
}

#profile-button-wrapper {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
}

#profile-button-wrapper:hover {
  background-color: #30363b;
}

#profile-picture {
  font-size: 26px;
}

#profile-picture-arrow {
  font-size: 18px;
  padding-left: 10px;
}

#profile-picture, #profile-picture-arrow {
  color: white;
}

#profile-button-wrapper::after {
  display: none;
}

#profile-button-container {
  margin-left: auto;
  margin-right: 50px;
  position: relative;
}

@media (max-width: 575px) {
  #header-space {
    height: 57px;
  }

  #navbar-logo-container {
    text-align: center;
    margin: 0;
  }

  #profile-button-container {
    margin: 0;
  }

  #profile-button-wrapper {
    width: 48px;
    height: 48px;
  }

  #profile-button {
    font-size: 24px;
  }

  #sidebar-button {
    top: 15px;
    right: 30px;
  }
}

@media(min-width: 575px) {
  .dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
  }
}