#sidebar {
  width: 220px !important;
  transition: 0s;
  margin-top: 2%;
}

.sidebar-influenced {
  width: 100%;
}

.sidebar-item {
  width: 100%;
  border-radius: 10px;
  transition-duration: 250ms;
}

.dark .sidebar-item:hover {
  background-color: #1c2431;
}

.light .sidebar-item:hover {
  background-color: #acacac;
}

.sidebar-section {
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
}

.dark .sidebar-section {
  color: #76818f;
}

.light .sidebar-section {
  color: #a1a1a1;
}

.sidebar-link {
  font-size: 18px !important;
}

.sidebar-icon {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
  width: 15px;
  height: 15px;
}

.dark .sidebar-active {
  background-color: #232d3e;
  border-radius: 10px;
}

.light .sidebar-active {
  background-color: #b7b7b7;
  border-radius: 10px;
}

.sidebar-divider {
  width: 100%;
}

.dark .sidebar-divider {
  border-bottom: 1px #4a4a4a solid;
}

.light .sidebar-divider {
  border-bottom: 1px #9b9b9b solid;
}

@media(max-width: 1400px) {
  #sidebar {
    position: fixed;
    height: 100%;
    z-index: 90;
    margin-top: 0;
  }

  .dark #sidebar {
    background-color: #212529;
    border-right: 1px #4a4a4a solid;
  }

  .light #sidebar {
    background-color: #fafafa;
    border-right: 1px #c8c8c8 solid;
  }

  #sidebar-content {
    margin-top: 20px;
  }

  .sidebar-item {
    width: 90%;
  }

  .sidebar-link {
    font-size: 20px !important;
  }

  .dark .sidebar-active {
    background-color: #3e4348;
  }

  .light .sidebar-active {
    background-color: #e1e0e0;
  }

  .sidebar-section {
    font-size: 18px;
  }

  .dark .sidebar-section {
    color: #4b545d;
  }

  .light .sidebar-section {
    color: #bbbbbb;
  }

  .sidebar-divider {
    width: 90%;
    margin: 5px auto;
  }
}