form {
  width: min(470px, 90%);
  margin-top: 2%;
  margin-left: 5%;
}

.dark input {
  background-color: #0d1117 !important;
  color: white !important;
  -webkit-text-fill-color: white;
  border: 1px solid #cecece !important;
}

.dark input::placeholder {
  color: #828282 !important;
  -webkit-text-fill-color: #828282;
}

.light input {
  background-color: #eaeaea !important;
  color: black !important;
  -webkit-text-fill-color: black;
  border: 1px solid #4c4c4c !important;
}

.light input::placeholder {
  color: #949494 !important;
  -webkit-text-fill-color: #949494;
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form input:-webkit-autofill:active{
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.form-label {
  text-align: left;
  width: 100%;
  font-size: 20px;
}

#settings-account-password-container {
  width: 90%;
  margin: auto;
}

#settings-account-password-headline {
  border-bottom: 2px #212529 solid;
  padding-bottom: 10px;
}

#feedbackin {
  text-align: center;
}

#settings-account-password-button {
  margin-left: 5%;
  margin-bottom: 5%;
}

#settings-account-email-container {
  width: 90%;
  margin: auto;
}

#settings-account-email-headline {
  border-bottom: 2px #212529 solid;
  padding-bottom: 10px;
}

#settings-account-email-button {
  margin-left: 5%;
  margin-bottom: 5%;
}