#settings-language-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  margin-top: 50px;
}

.settings-language {
  position: relative;
  display: grid;
  text-align: center;
  margin: auto;
}

.settings-language-flag {
  width: 192px;
  height: 108px;
  border: 2px #6d6d6d solid;
  border-radius: 10px;
}

.settings-language-selected {
  box-shadow: 0 0 15px 5px #49dc47;
}

@media (max-width: 1000px) {
  #settings-language-container {
    grid-template-columns: repeat(1, 1fr);
  }
}