{% load static %}
{% load i18n %}
<nav id="navbar">
  <button id="sidebar-button" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar"></button>
  <div id="navbar-content">
    <div id="navbar-logo-container">
      <a href="/" id="navbar-logo"><img class="dulno-logo" width="60px" height="60px" alt=""></a>
    </div>
    <div id="profile-button-container">
      <button class="dropdown-toggle btn" id="profile-button-wrapper" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i id="profile-picture" class="fa-regular fa-user"></i><i id="profile-picture-arrow" class="fa-solid fa-angle-down"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-button-wrapper">
        <button class="dropdown-item" id="dashboard-button" type="button">{% trans 'panel.header.dashboard' %}</button>
        <button class="dropdown-item" id="settings-button" type="button">{% trans 'panel.header.settings' %}</button>
        <li><hr class="dropdown-divider"></li>
        <button class="dropdown-item" id="logout-button" type="button">{% trans 'panel.header.logout' %}</button>
      </div>
    </div>
  </div>
</nav>
<div id="header-space"></div>

<script>
  document.getElementById('dashboard-button').onclick = function() {
    window.location.href = "/dashboard/";
  };
  document.getElementById('settings-button').onclick = function() {
    sessionStorage.setItem("settings-return", window.location.href);
    window.location.href = "/settings/profile/";
  };
  document.getElementById('logout-button').onclick = function() {
    let request = new HttpRequest("/verification/logout/",
      "GET", []);
    request.send(function (status, responseText) {
      Cookie.destroy("panel-token");
      Cookie.destroy("panel-refresh-token");
      window.location.href = "/";
    });
  };

  var isSidebarShown;

  window.onload = function() {
    if (sessionStorage.getItem("dulno-sidebar") === null) {
      sessionStorage.setItem("dulno-sidebar", "true");
    }
    let sidebarSetting = sessionStorage.getItem("dulno-sidebar").toLowerCase() === "true";
    isSidebarShown = window.innerWidth > 575 && sidebarSetting;
    if (isSidebarShown) {
      document.getElementById("sidebar").classList.add("show");
    }
    updateSidebarSpacing();
    updateSidebarButtonIcon();
  };

  document.getElementById('sidebar-button').onclick = function() {
    isSidebarShown = !isSidebarShown;
    sessionStorage.setItem("dulno-sidebar", isSidebarShown);
    updateSidebarSpacing();
    updateSidebarButtonIcon();
  };

  function updateSidebarSpacing() {
    var elements = document.getElementsByClassName('sidebar-influenced');
    for (var i = 0; i < elements.length; i++) {
      if (isSidebarShown && window.innerWidth > 800) {
        elements[i].style.marginLeft = '220px';
      } else {
        elements[i].style.marginLeft = '0';
      }
    }
  }

  function updateSidebarButtonIcon() {
    if (isSidebarShown) {
      document.getElementById("sidebar-button").innerHTML ='<i class="fa-solid fa-xmark"></i>';
      return;
    }
    document.getElementById("sidebar-button").innerHTML ='<i class="fa-solid fa-bars"></i>';
  }
</script>