{% load static %}
{% load i18n %}
<div class="collapse collapse-horizontal" id="sidebar">
  <div id="sidebar-content">
    <ul id="panel-sidebar-items" class="navbar-nav ml-auto h-100 d-flex align-items-center">
      <li class="sidebar-item mt-3 {% if request.path == '/dashboard/' or request.path == '/' %}sidebar-active{% endif %}">
        <a href="/dashboard/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">house</span><span>{% trans 'panel.sidebar.dashboard' %}</span></a>
      </li>
      <li class="sidebar-divider"></li>
      <li id="tickets-sidebar-item" class="sidebar-item {% if 'ticket' in request.path %}sidebar-active{% endif %}">
        <a href="/tickets/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">confirmation_number</span><span class="d-flex justify-content-between align-items-center w-100">{% trans 'panel.sidebar.tickets' %}<span id="tickets-sidebar-count" class="badge text-bg-secondary me-3">-</span></span></a>
      </li>
      <li id="questions-sidebar-item" class="sidebar-item {% if 'question' in request.path %}sidebar-active{% endif %}">
        <a href="/questions/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">support_agent</span><span class="d-flex justify-content-between align-items-center w-100">{% trans 'panel.sidebar.questions' %}<span id="questions-sidebar-count" class="badge text-bg-secondary me-3">-</span></span></a>
      </li>
      <li id="sales-sidebar-item" class="sidebar-item {% if 'sale' in request.path %}sidebar-active{% endif %}">
        <a href="/sales/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">monitoring</span><span class="d-flex justify-content-between align-items-center w-100">{% trans 'panel.sidebar.sales' %}<span id="sales-sidebar-count" class="badge text-bg-secondary me-3">-</span></span></a>
      </li>
      <li class="sidebar-divider"></li>
      <li id="users-sidebar-item" class="sidebar-item d-none {% if 'user' in request.path %}sidebar-active{% endif %}">
        <a href="/users/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">person</span><span>{% trans 'panel.sidebar.users' %}</span></a>
      </li>
      <li id="templates-sidebar-item" class="sidebar-item d-none {% if 'template' in request.path %}sidebar-active{% endif %}">
        <a href="/templates/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">draft</span><span>{% trans 'panel.sidebar.templates' %}</span></a>
      </li>
      <li class="sidebar-divider"></li>
      <li id="maintenance-sidebar-item" class="sidebar-item d-none {% if 'maintenance' in request.path %}sidebar-active{% endif %}">
        <a href="/maintenance/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">build</span><span>{% trans 'panel.sidebar.maintenance' %}</span></a>
      </li>
      <li id="administration-sidebar-item" class="sidebar-item d-none {% if 'administration' in request.path or 'group' in request.path or 'member' in request.path %}sidebar-active{% endif %}">
        <a href="/administration/" class="sidebar-link nav-link" aria-current="page"><span class="sidebar-icon material-symbols-outlined">account_balance</span><span>{% trans 'panel.sidebar.administrator' %}</span></a>
      </li>
      <li class="sidebar-divider mt-auto"></li>
      <li class="sidebar-item mb-2">
        <a class="sidebar-link nav-link" aria-current="page">
          <div class="d-flex justify-content-between align-items-center">
            <div class="position-relative">
              <h4 class="fa-regular fa-user mb-0 mx-2"></h4>
              <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border rounded-circle">
                <span class="visually-hidden"></span>
              </span>
              <span class="position-absolute top-0 start-100 translate-middle spinner-grow spinner-grow-sm text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </span>
            </div>
            <div class="ms-4">
              <span id="sidebar-profile-username"></span><br>
              <span class="text-success">Online</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function() {
    displayRestrictedSidebarItem("tickets-sidebar-item", "tickets", "tickets.find");
    displayRestrictedSidebarItem("questions-sidebar-item", "questions", "questions.find");
    displayRestrictedSidebarItem("sales-sidebar-item", "sales", "sales.find");
    displayRestrictedSidebarItem("users-sidebar-item", "users", "user.search");
    displayRestrictedSidebarItem("templates-sidebar-item", "templates", "template.create");
    displayRestrictedSidebarItem("maintenance-sidebar-item", "maintenance", "maintenance.find");
    displayRestrictedSidebarItem("administration-sidebar-item", "administration", "groups.find");
    fetchUsername(function (username) {
      document.getElementById("sidebar-profile-username").innerHTML = username
    })
  });

  function displayRestrictedSidebarItem(elementIdentifier, scopeIdentifier, permission) {
    $(document).ready(function() {
      let request = new HttpRequest("https://team.dulno.com/v1/member/has/permission/", "POST", [],
        {permission: permission});
      request.send(function (status, responseText) {
        if (JSON.parse(responseText).hasPermission === true) {
          document.getElementById(elementIdentifier).classList.remove("d-none");
          if (scopeIdentifier === "tickets" || scopeIdentifier === "questions" ||
            scopeIdentifier === "sales"
          ) {
            displayEntityCount(scopeIdentifier);
          }
        }
      });
    });
  }

  function displayEntityCount(identifier) {
    let request = new HttpRequest("https://team.dulno.com/v1/" + identifier + "/pending/",
      "GET", []);
    request.send(function (status, responseText) {
      let number = JSON.parse(responseText)[identifier];
      let element = document.getElementById(identifier + "-sidebar-count");
      element.innerHTML = number;
      if (number > 0) {
        element.classList.remove("text-bg-secondary");
        element.classList.add("text-bg-danger");
      }
    });
  }

  function fetchUsername(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/settings/profile/username/", "GET", []);
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      callback(response.username);
    });
  }

  document.fonts.ready.then(function() {
    const icons = document.querySelectorAll('.material-symbols-outlined');
    icons.forEach(icon => {
      icon.classList.add('loaded');
    });
  });
</script>