{% load static %}
{% load i18n %}
<div class="bg-dark collapse collapse-horizontal" id="sidebar">
  <div id="sidebar-content">
    <ul class="navbar-nav ml-auto mt-4 h-100 d-flex align-items-center">
      <li class="sidebar-item">
        <a href="/dashboard/" class="sidebar-link nav-link {% if request.path == '/dashboard/' or request.path == '/' %}sidebar-active{% endif %}" aria-current="page"><i class="sidebar-icon fa fa-home" aria-hidden="true"></i>{% trans 'product.sidebar.dashboard' %}</a>
      </li>
      <li class="sidebar-item">
        <a href="/workflows/" class="sidebar-link nav-link {% if 'workflow' in request.path %}sidebar-active{% endif %}" aria-current="page"><i class="sidebar-icon fa fa-tasks" aria-hidden="true"></i>{% trans 'product.sidebar.workflows' %}</a>
      </li>
      <li class="sidebar-item">
        <a href="/templates/" class="sidebar-link nav-link {% if request.path == '/templates/' %}sidebar-active{% endif %}" aria-current="page"><i class="sidebar-icon fa fa-sheet-plastic" aria-hidden="true"></i>{% trans 'product.sidebar.templates' %}</a>
      </li>
      <li class="sidebar-item">
        <a href="/organizations/" class="sidebar-link nav-link {% if 'organization' in request.path %}sidebar-active{% endif %}" aria-current="page"><i class="sidebar-icon fa fa-users" aria-hidden="true"></i>{% trans 'product.sidebar.organizations' %}</a>
      </li>
      <li class="sidebar-item">
        <a href="/account/apps/" class="sidebar-link nav-link {% if request.path == '/account/apps/' or request.path == '/accounts/' %}sidebar-active{% endif %}" aria-current="page"><i class="sidebar-icon fa fa-link" aria-hidden="true"></i>{% trans 'product.sidebar.accounts' %}</a>
      </li>
      <li class="sidebar-item sidebar-divider-bottom"></li>
      <li class="sidebar-item sidebar-item-bottom">
        <a href="/help/" class="sidebar-link nav-link {% if request.path == '/help/' %}sidebar-active{% endif %}" aria-current="page"><i class="sidebar-icon fa fa-question-circle" aria-hidden="true"></i>{% trans 'product.sidebar.help' %}</a>
      </li>
    </ul>
  </div>
</div>