{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button id="sidebar-button" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar"></button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <div id="navbar-logo-container">
        <a href="/" id="navbar-logo"><img src="{% static 'img/logo.png' %}" width="80px" height="80px" alt=""></a>
      </div>
      <div id="profile-button-container">
        <button class="dropdown-toggle btn" id="profile-button-wrapper" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id="profile-picture" class="d-none">
        </button>
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-center" aria-labelledby="profile-button-wrapper">
          <button class="dropdown-item" id="dashboard-button" type="button">{% trans 'product.header.dashboard' %}</button>
          <button class="dropdown-item" id="settings-button" type="button">{% trans 'product.header.settings' %}</button>
          <button class="dropdown-item" id="tickets-button" type="button">{% trans 'product.header.tickets' %}</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" id="logout-button" type="button">{% trans 'product.header.logout' %}</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="header-space"></div>

<script>
  $(document).ready(function() {
    displayProfilePicture();
  });

  function displayProfilePicture() {
    let request = new HttpRequest("https://api.taskwolf.net/v1/settings/profile/picture/", "GET", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}]);
    request.send(function (status, responseText) {
      var pictureElement = document.getElementById("profile-picture");
      pictureElement.src = JSON.parse(responseText).picture;
      pictureElement.classList.remove("d-none");
    });
  }

  document.getElementById('dashboard-button').onclick = function() {
    window.location.href = "/dashboard/";
  };
  document.getElementById('settings-button').onclick = function() {
    window.location.href = "/settings/profile/";
  };
  document.getElementById('tickets-button').onclick = function() {
    window.location.href = "/tickets/";
  };
  document.getElementById('logout-button').onclick = function() {
    Cookie.destroy("token");
    Cookie.destroy("taskwolf-organization-target");
    window.location.href = "/";
  };

  var isSidebarShown;

  window.onload = function() {
    isSidebarShown = window.innerWidth > 575;
    if (isSidebarShown) {
      document.getElementById("sidebar").classList.add("show");
    }
    updateSidebarSpacing();
    updateSidebarButtonIcon();
  };

  document.getElementById('sidebar-button').onclick = function() {
    isSidebarShown = !isSidebarShown;
    updateSidebarSpacing();
    updateSidebarButtonIcon();
  };

  function updateSidebarSpacing() {
    var elements = document.getElementsByClassName('sidebar-influenced');
    for (var i = 0; i < elements.length; i++) {
      if (isSidebarShown && window.innerWidth > 800) {
        elements[i].style.marginLeft = '300px';
      } else {
        elements[i].style.marginLeft = '0';
      }
    }
  }

  function updateSidebarButtonIcon() {
    if (isSidebarShown) {
      document.getElementById("sidebar-button").innerHTML ='<i class="fa-solid fa-xmark"></i>';
      return;
    }
    document.getElementById("sidebar-button").innerHTML ='<i class="fa-solid fa-bars"></i>';
  }
</script>