{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'templates/head.html' %}
  <body>
    <div id="confirm-container">
      <h1 id="confirm-headline">Set password</h1>
      <div id="confirm-password-container" class="form-outline was-validated">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" minlength="8" name="password" placeholder="Password" required>
        <div class="progress mt-3" style="height: 5px;">
          <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 1%;">
          </div>
        </div>
        <div id="feedbackin" class="valid-feedback"></div>
        <div id="feedbackirn" class="invalid-feedback">8 {% trans 'neutral.password.letters.remaining' %}, {% trans 'neutral.password.special.characters' %}, {% trans 'neutral.password.upper.case.letters' %}, {% trans 'neutral.password.lower.case.letters' %}, {% trans 'neutral.password.numbers' %}</div>
        <label for="password-repetition" class="form-label mt-4">Re-enter password</label>
        <input type="password" id="password-repetition" class="form-control" placeholder="Re-enter password" required>
      </div>
      <button type="button" id="complete" class="btn btn-primary d-block px-4 mt-5 mx-auto">COMPLETE</button></br>
    </div>
  </body>
</html>

<script>
  document.getElementById('complete').onclick = function(event) {
    if (document.getElementById("password").value !== document.getElementById("password-repetition").value) {
      Swal.fire("Completion failed!", "The two passwords entered do not match", "error");
      return;
    }
    if (!passwordInput.checkValidity()) {
      Swal.fire("Completion failed!", "The selected password is not strong enough", "error");
      return;
    }
    let request = new HttpRequest("https://team.taskwolf.net/v1/verification/complete/", "POST", [],
      {member: "{{member}}", token: "{{token}}", password: document.getElementById("password").value});
    request.send(function (status, responseText) {
      window.location.href = "/";
    });
  };

  var passwordInput = document.getElementById("password");

  passwordInput.addEventListener('keypress', function(event) {
    updatePasswordProgress()
  });

  passwordInput.addEventListener('keyup', function(event) {
    updatePasswordProgress();
  });

  var passwordMatchedCases = [];
  passwordMatchedCases.push("[!@#$%&*_?]");
  passwordMatchedCases.push("[A-Z]");
  passwordMatchedCases.push("[a-z]");
  passwordMatchedCases.push("[0-9]");
  var passwordMessageCases = [];
  passwordMessageCases.push("{% trans 'neutral.password.special.characters' %}");
  passwordMessageCases.push("{% trans 'neutral.password.upper.case.letters' %}");
  passwordMessageCases.push("{% trans 'neutral.password.lower.case.letters' %}");
  passwordMessageCases.push("{% trans 'neutral.password.numbers' %}");

  function updatePasswordProgress() {
    var messageCases = passwordMessageCases.slice();
    var status = 0;
    for (var i = 0; i < passwordMatchedCases.length; i++) {
      if (new RegExp(passwordMatchedCases[i]).test(passwordInput.value)) {
        messageCases.splice(messageCases.indexOf(passwordMessageCases[i]), 1);
        status++;
      }
    }
    if (passwordInput.value.length >= 8) {
      status++;
    }
    var progress;
    var strength;
    switch (status) {
      case 0:
        strength = "";
        progress = 1;
        break;
      case 1:
        strength = "{% trans 'neutral.password.too.weak' %}";
        progress = 15;
        break;
      case 2:
        strength = "{% trans 'neutral.password.very.weak' %}";
        progress = 30;
        break;
      case 3:
        strength = "{% trans 'neutral.password.weak' %}";
        progress = 45;
        break;
      default:
        strength = "{% trans 'neutral.password.strong' %}";
        progress = 75;
        break;
    }
    progress += passwordInput.value.length;
    var information = "";
    var progressBarClass;
    if (progress >= 75 && passwordInput.value.length >= 8) {
      passwordInput.setCustomValidity("");
      progressBarClass = "bg-success";
      information = "{% trans 'neutral.password.strong' %}";
    } else {
      passwordInput.setCustomValidity(strength);
      progressBarClass = "bg-danger";
      if(passwordInput.value.length < 8) {
        information += (8 - passwordInput.value.length) + "{% trans 'neutral.password.letters.remaining' %}";
      }
      information += messageCases;
    }
    $("#feedbackin, #feedbackirn").text(information);
    $("#progressbar").removeClass("bg-danger bg-warning bg-success").addClass(progressBarClass);
    $("#progressbar").width(progress + "%");
  }
</script>