{% load static %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    <div id="login-container">
      <form>
        <img id="login-logo" src="/static/img/logo-light.webp">
        <div class="form-outline mb-4">
          <label for="email" class="form-label">Email address</label>
          <input type="email" id="email" class="form-control" placeholder="Email address">
        </div>
        <div class="form-outline mb-4">
          <div class="d-flex">
            <label for="password" class="form-label">Password</label>
            <a id="forgot-password" href="/password/reset/request/">Forgot password?</a>
          </div>
          <input type="password" id="password" class="form-control" placeholder="Password"/>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="remember-check">
          <label class="form-check-label" for="remember-check" id="remember-check-label">Remember me</label>
        </div>
        <button type="button" id="login" class="btn btn-primary">LOGIN</button>
      </form>
    </div>
  </body>
</html>

{% include '2fa.html' %}

<script>
  $(document).ready(function() {
    let rememberMe = Cookie.find("dulno-remember-me");
    if (rememberMe != null) {
      document.getElementById("email").value = rememberMe;
      document.getElementById("password").focus();
    } else {
      document.getElementById("email").focus();
    }
  });

  document.getElementById("email").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById("password").focus();
    }
  });

  document.getElementById("password").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById("login").click();
    }
  });

  document.getElementById('login').onclick = function(event) {
    login("");
  };

  function login(multiFactorCode) {
    if (document.getElementById("remember-check").checked) {
      Cookie.create("dulno-remember-me", document.getElementById("email").value,
        12 * 30 * 24 * 60 * 60);
    }
    let request = new HttpRequest("/verification/login/", "POST", [],
      {email: document.getElementById("email").value, password: document.getElementById("password").value,
        multiFactorCode: multiFactorCode});
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      let success = response.success;
      if (success === true) {
        Cookie.create("panel-token", response.panelApiKey, 60 * 60 * 24 * 30);
        Cookie.create("panel-refresh-token", response.refreshToken, 60 * 60 * 24 * 30);
        window.location.href = "/dashboard/";
      } else {
        let error = response.error;
        if (error === 1001) {
          if (multiFactorCode === "") {
            display2FA(function(code) {login(code)});
          } else {
            Swal.fire("2-factor authentication failed", "The token entered has either expired or is incorrect. Please try again", "error").then((result) => {
              if (result.isConfirmed) {
                display2FA(function(code) {login(code)});
              }
            });
          }
          return;
        }
        if (error === 1000) {
          Swal.fire("Login has failed", "The password entered is incorrect", "error");
        }
        document.getElementById("password").value = "";
      }
    });
  };
</script>