{% load static %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    <form id="password-reset-container">
      <h1>Forgot your password?</h1></br>
      <div class="form-outline mb-4">
        <label for="email" class="form-label">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address">
      </div>
      <button type="button" id="send" class="btn btn-primary mb-4">SEND</button></br>
      <label id="password-reset-status"></label>
    </form>
  </body>
</html>

<script>
  document.getElementById("email").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById("send").click();
    }
  });

  document.getElementById('send').onclick = function() {
    let request = new HttpRequest("/password/reset/request/", "POST", [],
      {email: document.getElementById("email").value});
    request.send(function (status, responseText) {
      let response = JSON.parse(responseText);
      let statusElement = document.getElementById("password-reset-status");
      if (response.success === false) {
        statusElement.classList.remove("text-success");
        statusElement.classList.add("text-danger");
        if (response.errorCode === 1000) {
          statusElement.innerHTML = "An account with this email could not be found.";
        }
      } else {
        statusElement.classList.remove("text-danger");
        statusElement.classList.add("text-success");
        statusElement.innerHTML = "You have been sent an email to reset your password. Please take a look in your mailbox.";
      }
    });
  };
</script>