{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="question-container">
        <h1 id="question-headline"></h1>
        <hr class="hr border-white my-4"/>
        <ul id="question-messages">
        </ul>
        <div id="question-operations">
          <button type="button" id="question-message-add" class="btn btn-primary disabled">{% trans 'question.message.add' %}</button>
          <button type="button" id="question-delete" class="btn btn-danger">{% trans 'question.delete' %}</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var question;

  $(document).ready(function() {
    fetchQuestionData(function() {
      displayQuestion();
    });
  });

  function fetchQuestionData(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/question/find/", "POST", [],
      {question: "{{question}}"});
    request.send(function (status, responseText) {
      question = JSON.parse(responseText);
      callback();
    });
  }

  function displayQuestion() {
    document.getElementById("question-headline").innerHTML = question.title;
    for (var i = 0; i < question.messages.length; i++) {
      displayMessage(question.messages[i]);
    }
    displayAnswerField();
  }

  function displayMessage(message) {
    var messageElement = document.createElement("div");
    messageElement.classList.add("question-message", "ql-editor");
    messageElement.innerHTML = message.body;
    displayEntry(message.teamWritten, message.sender.replace("@", "\u200B@"),
      message.time.split(" ")[0], message.time.split(" ")[1], messageElement);
  }

  function displayAnswerField() {
    var answerField = document.createElement("div");
    answerField.id = "question-answer-field";
    displayEntry(true, "Dulno", "", "", answerField);
    var quill = new Quill('#question-answer-field', {
      modules: {
        toolbar: [
          [{'size': ['huge', 'large', false, 'small']}],
          ['bold', 'italic', 'underline'],
          ['image'],
          [{'list': 'ordered'}, {'list': 'bullet'}],
          [{'align': []}],
          [{'color': []}],
        ]
      },
      theme: 'snow'
    });
    quill.on('text-change', function(delta, oldDelta, source) {
      if (answerField.firstElementChild.innerHTML !== "<p><br></p>") {
        document.getElementById("question-message-add").classList.remove("disabled");
      } else {
        document.getElementById("question-message-add").classList.add("disabled");
      }
    });
  }

  function displayEntry(dulnoWritten, author, date, time, contentElement) {
    var messageContainer = document.createElement("li");
    messageContainer.classList.add("question-message-container");
    var messageDescription = document.createElement("div");
    messageDescription.classList.add("question-message-description")
    if (dulnoWritten) {
      var dulnoPicture = document.createElement("img");
      dulnoPicture.classList.add("question-message-profile-picture");
      dulnoPicture.src = "{% static 'img/dulno-profile-picture.png' %}";
      messageDescription.appendChild(dulnoPicture);
    } else {
      var userPicture = document.createElement("i");
      userPicture.classList.add("question-message-profile-icon", "fa-regular", "fa-user");
      messageDescription.appendChild(userPicture);
    }
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageAuthor = document.createElement("b");
    messageAuthor.classList.add("question-message-author");
    messageAuthor.innerHTML = author;
    messageDescription.appendChild(messageAuthor);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageDate = document.createElement("label");
    messageDate.classList.add("question-message-date");
    messageDate.innerHTML = date;
    messageDescription.appendChild(messageDate);
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var messageTime = document.createElement("label");
    messageTime.classList.add("question-message-time");
    messageTime.innerHTML = time;
    messageDescription.appendChild(messageTime);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var divider = document.createElement("div");
    divider.classList.add("question-message-divider");
    messageContainer.appendChild(divider);
    var messageContent = document.createElement("div");
    messageContent.classList.add("question-message-content");
    messageContent.appendChild(contentElement);
    messageContainer.appendChild(messageContent);
    document.getElementById("question-messages").appendChild(messageContainer);
    return messageContainer;
  }

  document.getElementById("question-message-add").onclick = function(event) {
    var message = document.getElementById("question-answer-field").firstElementChild.innerHTML;
    let request = new HttpRequest("https://team.dulno.com/v1/question/answer/", "POST", [],
      {question: question.id, message: message});
    request.send(function (status, responseText) {
      Swal.fire("{% trans 'question.message.add.successful.title' %}", "{% trans 'question.message.add.successful.body' %}", "success").then(success => window.location.reload());
    });
  }

  document.getElementById("question-delete").onclick = function(event) {
    Swal.fire({
      title: "{% trans 'question.delete.title' %}",
      text: "{% trans 'question.delete.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("https://team.dulno.com/v1/question/delete/", "POST", [],
          {question: question.id});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'question.delete.successful.title' %}", "{% trans 'question.delete.successful.body' %}", "success").then(success => window.location.href = "/questions/");
        });
      }
    });
  }
</script>