{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="offer-create-container">
        <div id="offer-create-wrapper" class="d-none">
          <button id="offer-create-back"><i class="fa-solid fa-arrow-left-long"></i></button>
          <div id="offer-create-process" class="mb-5">
            <h4 class="fw-bold mb-4">{% trans 'offer.create.headline' %}</h4>
            <p class="mb-5">{% trans 'offer.create.description' %}</p>
            <div id="offer-create-process-data">
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'offer.create.type' %}</label>
                <div class="dropdown">
                  <button id="offer-create-type" class="btn btn-theme btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                    {% trans 'offer.create.type' %}
                  </button>
                  <ul class="dropdown-menu w-100">
                    <li id="offer-create-type-trial" class="dropdown-item offer-create-type-entry">{% trans 'offer.create.type.trial' %}</li>
                    <li id="offer-create-type-individual" class="dropdown-item offer-create-type-entry">{% trans 'offer.create.type.individual' %}</li>
                    <li id="offer-create-type-team" class="dropdown-item offer-create-type-entry">{% trans 'offer.create.type.team' %}</li>
                    <li id="offer-create-type-enterprise" class="dropdown-item offer-create-type-entry">{% trans 'offer.create.type.enterprise' %}</li>
                  </ul>
                </div>
              </div>
              <div id="offer-create-class-container" class="form-outline mb-3 d-none">
                <label class="form-label">{% trans 'offer.create.class' %}</label>
                <div class="dropdown">
                  <button id="offer-create-class" class="btn btn-theme btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                    {% trans 'offer.create.class' %}
                  </button>
                  <ul class="dropdown-menu w-100">
                    <li id="offer-create-class-beginner" class="dropdown-item offer-create-class-entry">{% trans 'offer.create.class.beginner' %}</li>
                    <li id="offer-create-class-advanced" class="dropdown-item offer-create-class-entry">{% trans 'offer.create.class.advanced' %}</li>
                    <li id="offer-create-class-expert" class="dropdown-item offer-create-class-entry">{% trans 'offer.create.class.expert' %}</li>
                  </ul>
                </div>
              </div>
              <div id="offer-create-runtime-container" class="form-outline mb-3 d-none">
                <label class="form-label">{% trans 'offer.create.runtime' %}</label>
                <div class="dropdown">
                  <button id="offer-create-runtime" class="btn btn-theme btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                    {% trans 'offer.create.runtime' %}
                  </button>
                  <ul class="dropdown-menu w-100">
                    <li id="offer-create-runtime-weekly" class="dropdown-item offer-create-runtime-entry">{% trans 'offer.create.runtime.weekly' %}</li>
                    <li class="dropdown-item offer-create-runtime-entry">{% trans 'offer.create.runtime.monthly' %}</li>
                    <li class="dropdown-item offer-create-runtime-entry">{% trans 'offer.create.runtime.yearly' %}</li>
                  </ul>
                </div>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'offer.create.workflow.limit' %}</label>
                <input id="offer-create-workflow-limit" class="form-control" placeholder="{% trans 'offer.create.workflow.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'offer.create.operation.limit' %}</label>
                <input id="offer-create-operation-limit" class="form-control" placeholder="{% trans 'offer.create.operation.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'offer.create.process.limit' %}</label>
                <input id="offer-create-process-limit" class="form-control" placeholder="{% trans 'offer.create.process.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'offer.create.database.limit' %}</label>
                <input id="offer-create-database-limit" class="form-control" placeholder="{% trans 'offer.create.database.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'offer.create.database.data.limit' %}</label>
                <input id="offer-create-database-data-limit" class="form-control" placeholder="{% trans 'offer.create.database.data.limit' %}">
              </div>
              <div id="offer-create-organization-member-limit-container" class="form-outline mb-3 d-none">
                <label class="form-label">{% trans 'offer.create.organization.member.limit' %}</label>
                <input id="offer-create-organization-member-limit" class="form-control" placeholder="{% trans 'entity.bundle.change.organization.member.limit' %}">
              </div>
              <div id="offer-create-organization-team-limit-container" class="form-outline mb-3 d-none">
                <label class="form-label">{% trans 'offer.create.organization.team.limit' %}</label>
                <input id="offer-create-organization-team-limit" class="form-control" placeholder="{% trans 'entity.bundle.change.organization.team.limit' %}">
              </div>
            </div>
            <button type="button" id="offer-create" class="btn btn-danger d-block px-5 mt-5 mx-auto">{% trans 'offer.create' %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchBundle(function (bundle) {
      displayOfferCreation(bundle);
      removeLoader();
    });
  });

  function displayOfferCreation(bundle) {
    displayBundleTypeSelect(bundle);
    displayBundleClassSelect(bundle);
    prepareDropdown("offer-create-runtime", "offer-create-runtime-entry", () => {});
  }

  function displayBundleTypeSelect(bundle) {
    prepareDropdown("offer-create-type", "offer-create-type-entry", onBundleTypeSelect);
    if ("{{type}}" === "user") {
      document.getElementById("offer-create-type-team").classList.add("d-none");
      document.getElementById("offer-create-type-enterprise").classList.add("d-none");
      if (bundle.type === "INDIVIDUAL") {
        document.getElementById("offer-create-type-trial").classList.add("d-none");
      }
    } else if ("{{type}}" === "organization") {
      document.getElementById("offer-create-type-trial").classList.add("d-none");
      document.getElementById("offer-create-type-individual").classList.add("d-none");
      document.getElementById("offer-create-organization-member-limit-container").classList.remove("d-none");
      document.getElementById("offer-create-organization-team-limit-container").classList.remove("d-none");
      if (bundle.type === "ENTERPRISE") {
        document.getElementById("offer-create-type-team").classList.add("d-none");
      }
    }
  }

  function onBundleTypeSelect(type) {
    resetBundleClass();
    resetBundleRuntime();
    if (type !== "{% trans 'offer.create.type.trial' %}") {
      document.getElementById("offer-create-runtime-weekly").classList.add("d-none");
    } else {
      document.getElementById("offer-create-runtime-weekly").classList.remove("d-none");
    }
    if (type === "{% trans 'offer.create.type.trial' %}" || type === "{% trans 'offer.create.type.enterprise' %}") {
      document.getElementById("offer-create-class-container").classList.add("d-none");
      document.getElementById("offer-create-runtime-container").classList.remove("d-none");
    } else {
      document.getElementById("offer-create-class-container").classList.remove("d-none");
      document.getElementById("offer-create-runtime-container").classList.add("d-none");
    }
  }

  function displayBundleClassSelect(bundle) {
    prepareDropdown("offer-create-class", "offer-create-class-entry", onBundleClassSelect);
    if (bundle.class === "ADVANCED") {
      document.getElementById("offer-create-class-beginner").classList.add("d-none");
    } else if (bundle.class === "EXPERT") {
      document.getElementById("offer-create-class-beginner").classList.add("d-none");
      document.getElementById("offer-create-class-advanced").classList.add("d-none");
    }
  }

  function onBundleClassSelect(type) {
    resetBundleRuntime();
    document.getElementById("offer-create-runtime-container").classList.remove("d-none");
  }

  function resetBundleClass() {
    var classButton = document.getElementById("offer-create-class");
    classButton.innerHTML = "{% trans 'offer.create.class' %}";
    classButton.classList.remove("fw-bold");
  }

  function resetBundleRuntime() {
    var runtimeButton = document.getElementById("offer-create-runtime");
    runtimeButton.innerHTML = "{% trans 'offer.create.runtime' %}";
    runtimeButton.classList.remove("fw-bold");
  }

  function prepareDropdown(buttonId, entryId, onSelect) {
    var button = document.getElementById(buttonId);
    var dropdownElements = document.getElementsByClassName(entryId);
    for (let i = 0; i < dropdownElements.length; i++) {
      let dropdownElement = dropdownElements[i];
      dropdownElement.onclick = function (event) {
        var value = dropdownElement.innerHTML;
        button.classList.add("fw-bold");
        button.innerHTML = value;
        onSelect(value);
      }
    }
  }

  function fetchBundle(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/entity/bundle/find/", "POST",
      [], {entity: "{{target}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  document.getElementById("offer-create").onclick = function (event) {
    calculateOfferPrice();
  }

  function calculateOfferPrice() {
    var body = buildOfferRequestBody();
    if (body === null) {
      return;
    }
    let request = new HttpRequest("https://team.dulno.com/v1/offer/price/suggestion/", "POST", [], body);
    request.send(function (status, responseText) {
      var price = JSON.parse(responseText).price;
      var content = document.createElement("div");
      content.classList.add("swal2-content");
      var descriptionElement = document.createElement("p");
      descriptionElement.innerHTML = "{% trans 'offer.create.price.suggestion.body' %}";
      content.appendChild(descriptionElement);
      var priceElement = document.createElement("h1");
      priceElement.classList.add("fw-bold", "mt-5", "mb-4");
      priceElement.innerHTML = Number.parseFloat(price).toFixed(2) + " €";
      content.appendChild(priceElement);
      Swal.fire({
        title: "{% trans 'offer.create.price.suggestion.title' %}",
        html: content,
        icon: "warning",
        showCancelButton: true,
        showDenyButton: true,
        denyButtonColor: "#dc35c6",
        denyButtonText: "{% trans 'offer.create.price.manual' %}"
      }).then(result => {
        if (result.isConfirmed) {
          createOffer(price);
        } else if (result.isDenied) {
          manualOfferPrice();
        }
      });
    });
  }

  function manualOfferPrice() {
    var content = document.createElement("div");
    content.classList.add("swal2-content");
    var descriptionElement = document.createElement("p");
    descriptionElement.innerHTML = "{% trans 'offer.create.price.manual.body' %}";
    content.appendChild(descriptionElement);
    var priceElement = document.createElement("input");
    priceElement.classList.add("mt-3", "mb-2");
    priceElement.placeholder = "{% trans 'offer.create.price.manual.price' %}";
    content.appendChild(priceElement);
    Swal.fire({
      title: "{% trans 'offer.create.price.manual.title' %}",
      html: content,
      icon: "warning",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        createOffer(priceElement.value);
      }
    });
  }

  function createOffer(price) {
    var body = buildOfferRequestBody();
    if (body === null) {
      return;
    }
    body.target = "{{target}}";
    body.price = price;
    let request = new HttpRequest("https://team.dulno.com/v1/offer/create/", "POST", [], body);
    request.send(function (status, responseText) {
      Swal.fire("{% trans 'offer.create.successful.title' %}", "{% trans 'offer.create.successful.body' %}", "success")
        .then(success => returnPage());
    });
  }

  function buildOfferRequestBody() {
    var body = {};
    var bundleType = findBundleType(document.getElementById("offer-create-type").innerHTML);
    var bundleClass = findBundleClass(document.getElementById("offer-create-class").innerHTML);
    var bundleRuntime = findBundleRuntime(document.getElementById("offer-create-runtime").innerHTML);
    if (bundleType === "" || bundleRuntime === "" || ((bundleType === "INDIVIDUAL" || bundleType === "TEAM") && bundleClass === "NONE")) {
      Swal.fire("{% trans 'offer.create.failed.title' %}", "{% trans 'offer.create.failed.body' %}", "error");
      return null;
    }
    body.type = bundleType;
    body.class = bundleClass;
    body.runtime = bundleRuntime;
    var workflowLimit = document.getElementById("offer-create-workflow-limit").value;
    if (workflowLimit !== "") {
      body.workflowNumberLimit = workflowLimit;
    }
    var operationLimit = document.getElementById("offer-create-operation-limit").value;
    if (operationLimit !== "") {
      body.workflowOperationLimit = operationLimit;
    }
    var processLimit = document.getElementById("offer-create-process-limit").value;
    if (processLimit !== "") {
      body.processNumberLimit = processLimit;
    }
    var databaseLimit = document.getElementById("offer-create-database-limit").value;
    if (databaseLimit !== "") {
      body.databaseNumberLimit = databaseLimit;
    }
    var databaseDataLimit = document.getElementById("offer-create-database-data-limit").value;
    if (databaseDataLimit !== "") {
      body.databaseDataLimit = databaseDataLimit;
    }
    var organizationMemberLimit = document.getElementById("offer-create-organization-member-limit").value;
    if (organizationMemberLimit !== "" && "{{type}}" === "organization") {
      body.organizationMemberLimit = organizationMemberLimit;
    }
    var organizationTeamLimit = document.getElementById("offer-create-organization-team-limit").value;
    if (organizationTeamLimit !== "" && "{{type}}" === "organization") {
      body.organizationTeamLimit = organizationTeamLimit;
    }
    return body;
  }

  function findBundleType(content) {
    if (content === "{% trans 'offer.create.type.trial' %}") {
      return "TRIAL";
    } else if (content === "{% trans 'offer.create.type.individual' %}") {
      return "INDIVIDUAL";
    } else if (content === "{% trans 'offer.create.type.team' %}") {
      return "TEAM";
    } else if (content === "{% trans 'offer.create.type.enterprise' %}") {
      return "ENTERPRISE";
    }
    return "";
  }

  function findBundleClass(content) {
    if (content === "{% trans 'offer.create.class.beginner' %}") {
      return "BEGINNER";
    } else if (content === "{% trans 'offer.create.class.advanced' %}") {
      return "ADVANCED";
    } else if (content === "{% trans 'offer.create.class.expert' %}") {
      return "EXPERT";
    } else {
      return "NONE";
    }
  }

  function findBundleRuntime(content) {
    if (content === "{% trans 'offer.create.runtime.weekly' %}") {
      return "WEEKLY";
    } else if (content === "{% trans 'offer.create.runtime.monthly' %}") {
      return "MONTHLY";
    } else if (content === "{% trans 'offer.create.runtime.yearly' %}") {
      return "YEARLY";
    }
    return "";
  }

  document.getElementById("offer-create-back").onclick = function (event) {
    returnPage();
  }

  function returnPage() {
    if ("{{type}}" === "user") {
      window.location.href = "/user/{{target}}/offers/";
    } else if ("{{type}}" === "organization") {
      window.location.href = "/organization/{{target}}/offers/";
    }
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("offer-create-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("offer-create-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("offer-create-wrapper").classList.remove("d-none");
  }
</script>