{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="user-bundle-container">
        <div id="user-bundle-wrapper" class="d-none">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/general/">{% trans 'user.tab.general' %}</a></li>
              <li class="nav-item"><a class="nav-link nav-link-active" href="/user/{{user}}/bundle/">{% trans 'user.tab.bundle' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/payment/">{% trans 'user.tab.payment' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/termination/">{% trans 'user.tab.termination' %}</a></li>
            </ul>
          </div>
          <div id="user-bundle-information">
            <h3 class="fw-bold mb-4">{% trans 'user.bundle.headline' %}</h3>
            <ul id="user-bundle-information-entries">
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-box-archive"></i>
                  </div>
                  <span>{% trans 'user.bundle.type' %}</span>
                </div>
                <span id="user-bundle-information-type"></span>
              </li>
              <div id="user-bundle-information-divider-class" class="user-bundle-information-divider"></div>
              <li id="user-bundle-information-entry-class" class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                  <span>{% trans 'user.bundle.class' %}</span>
                </div>
                <span id="user-bundle-information-class"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-coins"></i>
                  </div>
                  <span>{% trans 'user.bundle.price' %}</span>
                </div>
                <span id="user-bundle-information-price"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-regular fa-clock"></i>
                  </div>
                  <span>{% trans 'user.bundle.runtime' %}</span>
                </div>
                <span id="user-bundle-information-runtime"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.workflow.access' %}</span>
                </div>
                <span id="user-bundle-information-workflow-access"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-hashtag"></i>
                  </div>
                  <span>{% trans 'user.bundle.workflow.number' %}</span>
                </div>
                <span id="user-bundle-information-workflow-number"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-microchip"></i>
                  </div>
                  <span>{% trans 'user.bundle.workflow.operation' %}</span>
                </div>
                <span id="user-bundle-information-workflow-operation"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.template.access' %}</span>
                </div>
                <span id="user-bundle-information-template-access"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.database.access' %}</span>
                </div>
                <span id="user-bundle-information-database-access"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-hashtag"></i>
                  </div>
                  <span>{% trans 'user.bundle.database.number' %}</span>
                </div>
                <span id="user-bundle-information-database-number"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-database"></i>
                  </div>
                  <span>{% trans 'user.bundle.database.data' %}</span>
                </div>
                <span id="user-bundle-information-database-data"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.webhook.access' %}</span>
                </div>
                <span id="user-bundle-information-webhook-access"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-hashtag"></i>
                  </div>
                  <span>{% trans 'user.bundle.webhook.number' %}</span>
                </div>
                <span id="user-bundle-information-webhook-number"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.organization.access' %}</span>
                </div>
                <span id="user-bundle-information-organization-access"><i class='fa-solid fa-xmark'></i></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.device.access' %}</span>
                </div>
                <span id="user-bundle-information-device-access"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-unlock"></i>
                  </div>
                  <span>{% trans 'user.bundle.account.access' %}</span>
                </div>
                <span id="user-bundle-information-account-access"></span>
              </li>
              <div class="user-bundle-information-divider"></div>
              <li class="user-bundle-information-entry">
                <div class="user-bundle-information-entry-description">
                  <div class="user-bundle-information-entry-icon">
                    <i class="fa-solid fa-hashtag"></i>
                  </div>
                  <span>{% trans 'user.bundle.account.number' %}</span>
                </div>
                <span id="user-bundle-information-account-number"></span>
              </li>
            </ul>
          </div>
          <div id="user-bundle-unavailable" class="d-none">
            <h4 class="fw-bold mb-4">{% trans 'user.bundle.unavailable.headline' %}</h4>
            <p class="mb-3">{% trans 'user.bundle.unavailable.description' %}</p>
          </div>
          <button type="button" id="user-bundle-change" class="btn btn-primary d-block px-5 my-5 mx-auto">{% trans 'user.bundle.change' %}</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchBundle(function (bundle) {
      removeLoader();
      if (bundle.found === false || bundle.type !== "TRIAL" && bundle.type !== "PROFESSIONAL") {
        document.getElementById("user-bundle-unavailable").classList.remove("d-none");
        return;
      }
      displayGeneralInformation(bundle);
    });
  });

  function displayGeneralInformation(bundle) {
    document.getElementById("user-bundle-information-type").innerHTML =
      findPackageName(bundle);
    $(document.getElementById("user-bundle-information-entry-class"))
      .toggleClass("d-none", bundle.class === "NONE");
    $(document.getElementById("user-bundle-information-divider-class"))
      .toggleClass("d-none", bundle.class === "NONE");
    document.getElementById("user-bundle-information-class").innerHTML =
      findPackageClass(bundle);
    document.getElementById("user-bundle-information-price").innerHTML =
      bundle.price + " €";
    document.getElementById("user-bundle-information-runtime").innerHTML =
      findPackageRuntime(bundle);
    document.getElementById("user-bundle-information-workflow-access").innerHTML =
      bundle.workflowAccess ? "<i class='fa-solid fa-check'></i>" : "<i class='fa-solid fa-xmark'></i>";
    document.getElementById("user-bundle-information-workflow-number").innerHTML =
      bundle.workflowNumberLimit < 0 ? "{% trans 'user.bundle.unlimited' %}" : bundle.workflowNumberLimit;
    document.getElementById("user-bundle-information-workflow-operation").innerHTML =
      bundle.workflowOperationLimit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    document.getElementById("user-bundle-information-template-access").innerHTML =
      true ? "<i class='fa-solid fa-check'></i>" : "<i class='fa-solid fa-xmark'></i>";
    document.getElementById("user-bundle-information-database-access").innerHTML =
      bundle.databaseAccess ? "<i class='fa-solid fa-check'></i>" : "<i class='fa-solid fa-xmark'></i>";
    document.getElementById("user-bundle-information-database-number").innerHTML =
      bundle.databaseNumberLimit < 0 ? "{% trans 'user.bundle.unlimited' %}" : bundle.databaseNumberLimit;
    document.getElementById("user-bundle-information-database-data").innerHTML =
      bundle.databaseDataLimit + " GB";
    document.getElementById("user-bundle-information-webhook-access").innerHTML =
      bundle.webhookAccess ? "<i class='fa-solid fa-check'></i>" : "<i class='fa-solid fa-xmark'></i>";
    document.getElementById("user-bundle-information-webhook-number").innerHTML =
      bundle.webhookNumberLimit < 0 ? "{% trans 'user.bundle.unlimited' %}" : bundle.webhookNumberLimit;
    document.getElementById("user-bundle-information-device-access").innerHTML =
      bundle.deviceAccess ? "<i class='fa-solid fa-check'></i>" : "<i class='fa-solid fa-xmark'></i>";
    document.getElementById("user-bundle-information-account-access").innerHTML =
      bundle.accountsAccess ? "<i class='fa-solid fa-check'></i>" : "<i class='fa-solid fa-xmark'></i>";
    document.getElementById("user-bundle-information-account-number").innerHTML =
      bundle.accountsNumberLimit < 0 ? "{% trans 'user.bundle.unlimited' %}" : bundle.accountsNumberLimit;
  }

  function findPackageName(bundle) {
    if (bundle.type === "TRIAL") {
      return "{% trans 'user.bundle.free' %}";
    } else if (bundle.type === "PROFESSIONAL") {
      return "{% trans 'user.bundle.professional' %}";
    } else if (bundle.type === "TEAM") {
      return "{% trans 'user.bundle.team' %}";
    } else if (bundle.type === "ENTERPRISE") {
      return "{% trans 'user.bundle.enterprise' %}";
    }
  }

  function findPackageClass(bundle) {
    if (bundle.class === "NONE") {
      return "";
    } else if (bundle.class === "BEGINNER") {
      return "{% trans 'user.bundle.beginner' %}";
    } else if (bundle.class === "ADVANCED") {
      return "{% trans 'user.bundle.advanced' %}";
    } else if (bundle.class === "EXPERT") {
      return "{% trans 'user.bundle.expert' %}";
    }
  }

  function findPackageRuntime(bundle) {
    if (bundle.runtime === "WEEKLY") {
      return "1 {% trans 'user.bundle.runtime.week' %}";
    } else if (bundle.runtime === "MONTHLY") {
      return "1 {% trans 'user.bundle.runtime.monthly' %}";
    } else if (bundle.runtime === "YEARLY") {
      return "1 {% trans 'user.bundle.runtime.year' %}";
    }
  }

  document.getElementById("user-bundle-change").onclick = function (event) {
    window.location.href = "/user/{{user}}/bundle/change/";
  }

  function fetchBundle(callback) {
    let request = new HttpRequest("https://team.taskwolf.net/v1/user/bundle/find/", "POST",
      [], {user: "{{user}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("user-bundle-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("user-bundle-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("user-bundle-wrapper").classList.remove("d-none");
  }
</script>