{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="user-general-container">
        <div id="user-general-wrapper" class="d-none">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link nav-link-active" href="/user/{{user}}/general/">{% trans 'user.tab.general' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/organization/">{% trans 'user.tab.organization' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/bundle/">{% trans 'user.tab.bundle' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/payment/">{% trans 'user.tab.payment' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/termination/">{% trans 'user.tab.termination' %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    removeLoader();
  });

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("user-general-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("user-general-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("user-general-wrapper").classList.remove("d-none");
  }
</script>