{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="user-bundle-change-container">
        <div id="user-bundle-change-wrapper" class="d-none">
          <button id="user-bundle-change-back"><i class="fa-solid fa-arrow-left-long"></i></button>
          <div id="user-bundle-change-process" class="mb-5">
            <h4 class="fw-bold mb-4">{% trans 'user.bundle.change.headline' %}</h4>
            <p class="mb-5">{% trans 'user.bundle.change.description' %}</p>
            <div id="user-bundle-change-process-data">
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.type' %}</label>
                <div class="dropdown">
                  <button id="user-bundle-change-type" class="btn btn-secondary dropdown-toggle bg-dark w-100" type="button" data-bs-toggle="dropdown">
                    {% trans 'user.bundle.change.type' %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark w-100">
                    <li class="dropdown-item user-bundle-change-type-entry">{% trans 'user.bundle.change.type.trial' %}</li>
                    <li class="dropdown-item user-bundle-change-type-entry">{% trans 'user.bundle.change.type.professional' %}</li>
                  </ul>
                </div>
              </div>
              <div id="user-bundle-change-class-container" class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.class' %}</label>
                <div class="dropdown">
                  <button id="user-bundle-change-class" class="btn btn-secondary dropdown-toggle bg-dark w-100" type="button" data-bs-toggle="dropdown">
                    {% trans 'user.bundle.change.class' %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark w-100">
                    <li class="dropdown-item user-bundle-change-class-entry">{% trans 'user.bundle.change.class.beginner' %}</li>
                    <li class="dropdown-item user-bundle-change-class-entry">{% trans 'user.bundle.change.class.advanced' %}</li>
                    <li class="dropdown-item user-bundle-change-class-entry">{% trans 'user.bundle.change.class.expert' %}</li>
                  </ul>
                </div>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.runtime' %}</label>
                <div class="dropdown">
                  <button id="user-bundle-change-runtime" class="btn btn-secondary dropdown-toggle bg-dark w-100" type="button" data-bs-toggle="dropdown">
                    {% trans 'user.bundle.change.runtime' %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark w-100">
                    <li id="user-bundle-change-runtime-weekly" class="dropdown-item user-bundle-change-runtime-entry">{% trans 'user.bundle.change.runtime.weekly' %}</li>
                    <li class="dropdown-item user-bundle-change-runtime-entry">{% trans 'user.bundle.change.runtime.monthly' %}</li>
                    <li class="dropdown-item user-bundle-change-runtime-entry">{% trans 'user.bundle.change.runtime.yearly' %}</li>
                  </ul>
                </div>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.workflow.limit' %}</label>
                <input id="user-bundle-change-workflow-limit" class="form-control" placeholder="{% trans 'user.bundle.change.workflow.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.operation.limit' %}</label>
                <input id="user-bundle-change-operation-limit" class="form-control" placeholder="{% trans 'user.bundle.change.operation.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.database.limit' %}</label>
                <input id="user-bundle-change-database-limit" class="form-control" placeholder="{% trans 'user.bundle.change.database.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.database.data.limit' %}</label>
                <input id="user-bundle-change-database-data-limit" class="form-control" placeholder="{% trans 'user.bundle.change.database.data.limit' %}">
              </div>
              <div class="form-outline mb-3">
                <label class="form-label">{% trans 'user.bundle.change.price' %}</label>
                <input id="user-bundle-change-price" class="form-control" placeholder="{% trans 'user.bundle.change.price' %}">
              </div>
            </div>
            <button type="button" id="user-bundle-change" class="btn btn-danger d-block px-5 mt-5 mx-auto">{% trans 'user.bundle.change' %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchBundle(function (bundle) {
      displayBundleChange(bundle);
      removeLoader();
    });
  });

  function displayBundleChange(bundle) {
    prepareDropdown("user-bundle-change-type", "user-bundle-change-type-entry",
      function (value) {return findBundleType(value) === bundle.type}, onBundleTypeSelect);
    prepareDropdown("user-bundle-change-class", "user-bundle-change-class-entry",
      (value) => {return findBundleClass(value) === bundle.class},
      () => {resetBundleRuntime()});
    prepareDropdown("user-bundle-change-runtime", "user-bundle-change-runtime-entry",
      function (value) {return findBundleRuntime(value) === bundle.runtime}, () => {});
    if (bundle.found) {
      document.getElementById("user-bundle-change-workflow-limit").value =
        bundle.workflowNumberLimit;
      document.getElementById("user-bundle-change-operation-limit").value =
        bundle.workflowOperationLimit;
      document.getElementById("user-bundle-change-database-limit").value =
        bundle.databaseNumberLimit;
      document.getElementById("user-bundle-change-database-data-limit").value =
        bundle.databaseDataLimit;
      document.getElementById("user-bundle-change-price").value = bundle.price;
    }
  }

  function onBundleTypeSelect(type) {
    resetBundleClass();
    resetBundleRuntime();
    if (type !== "{% trans 'user.bundle.change.type.trial' %}") {
      document.getElementById("user-bundle-change-runtime-weekly").classList.add("d-none");
    } else {
      document.getElementById("user-bundle-change-runtime-weekly").classList.remove("d-none");
    }
    if (type === "{% trans 'user.bundle.change.type.trial' %}") {
      document.getElementById("user-bundle-change-class-container").classList.add("d-none");
    } else {
      document.getElementById("user-bundle-change-class-container").classList.remove("d-none");
    }
  }

  function resetBundleClass() {
    var classButton = document.getElementById("user-bundle-change-class");
    classButton.innerHTML = "{% trans 'user.bundle.change.class' %}";
    classButton.classList.remove("fw-bold");
  }

  function resetBundleRuntime() {
    var runtimeButton = document.getElementById("user-bundle-change-runtime");
    runtimeButton.innerHTML = "{% trans 'user.bundle.change.runtime' %}";
    runtimeButton.classList.remove("fw-bold");
  }

  function prepareDropdown(buttonId, entryId, initialSelect, onSelect) {
    var button = document.getElementById(buttonId);
    var dropdownElements = document.getElementsByClassName(entryId);
    for (let i = 0; i < dropdownElements.length; i++) {
      let dropdownElement = dropdownElements[i];
      dropdownElement.onclick = function (event) {
        var value = dropdownElement.innerHTML;
        button.classList.add("fw-bold");
        button.innerHTML = value;
        onSelect(value);
      }
      if (initialSelect(dropdownElement.innerHTML)) {
        dropdownElement.click();
      }
    }
  }

  function fetchBundle(callback) {
    let request = new HttpRequest("https://team.taskwolf.net/v1/user/bundle/find/", "POST",
      [], {user: "{{user}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  document.getElementById("user-bundle-change-back").onclick = function (event) {
    window.location.href = "/user/{{user}}/bundle/";
  }

  document.getElementById("user-bundle-change").onclick = function (event) {
    var body = {user: "{{user}}"};
    var bundleType = findBundleType(document.getElementById("user-bundle-change-type").innerHTML);
    var bundleClass = findBundleClass(document.getElementById("user-bundle-change-class").innerHTML);
    var bundleRuntime = findBundleRuntime(document.getElementById("user-bundle-change-runtime").innerHTML);
    if (bundleType === "" || bundleRuntime === "" || (bundleType !== "TRIAL" && bundleClass === "NONE")) {
      Swal.fire("{% trans 'user.bundle.change.failed.title' %}", "{% trans 'user.bundle.change.failed.body' %}", "error");
      return;
    }
    body.type = bundleType;
    body.class = bundleClass;
    body.runtime = bundleRuntime;
    var workflowLimit = document.getElementById("user-bundle-change-workflow-limit").value;
    if (workflowLimit !== "") {
      body.workflowNumberLimit = workflowLimit;
    }
    var operationLimit = document.getElementById("user-bundle-change-operation-limit").value;
    if (operationLimit !== "") {
      body.workflowOperationLimit = operationLimit;
    }
    var databaseLimit = document.getElementById("user-bundle-change-database-limit").value;
    if (databaseLimit !== "") {
      body.databaseNumberLimit = databaseLimit;
    }
    var databaseDataLimit = document.getElementById("user-bundle-change-database-data-limit").value;
    if (databaseDataLimit !== "") {
      body.databaseDataLimit = databaseDataLimit;
    }
    var price = document.getElementById("user-bundle-change-price").value;
    if (price !== "") {
      body.price = price;
    }
    Swal.fire({
      title: "{% trans 'user.bundle.change.submit.title' %}",
      text: "{% trans 'user.bundle.change.submit.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("https://team.taskwolf.net/v1/user/bundle/change/", "POST", [], body);
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'user.bundle.change.successful.title' %}", "{% trans 'user.bundle.change.successful.body' %}", "success")
            .then(success => window.location.href = "/user/{{user}}/bundle/");
        });
      }
    });
  }

  function findBundleType(content) {
    if (content === "{% trans 'user.bundle.change.type.trial' %}") {
      return "TRIAL";
    } else if (content === "{% trans 'user.bundle.change.type.professional' %}") {
      return "PROFESSIONAL";
    }
    return "";
  }

  function findBundleClass(content) {
    if (content === "{% trans 'user.bundle.change.class.beginner' %}") {
      return "BEGINNER";
    } else if (content === "{% trans 'user.bundle.change.class.advanced' %}") {
      return "ADVANCED";
    } else if (content === "{% trans 'user.bundle.change.class.expert' %}") {
      return "EXPERT";
    } else {
      return "NONE";
    }
  }

  function findBundleRuntime(content) {
    if (content === "{% trans 'user.bundle.change.runtime.weekly' %}") {
      return "WEEKLY";
    } else if (content === "{% trans 'user.bundle.change.runtime.monthly' %}") {
      return "MONTHLY";
    } else if (content === "{% trans 'user.bundle.change.runtime.yearly' %}") {
      return "YEARLY";
    }
    return "";
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("user-bundle-change-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("user-bundle-change-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("user-bundle-change-wrapper").classList.remove("d-none");
  }
</script>