{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="user-mail-container">
        <div id="user-mail-wrapper" class="d-none">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/general/">{% trans 'entity.tab.general' %}</a></li>
              <li class="nav-item"><a class="nav-link nav-link-active" href="/user/{{user}}/mails/">{% trans 'entity.tab.mail' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/bundle/">{% trans 'entity.tab.bundle' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/payment/">{% trans 'entity.tab.payment' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/offers/">{% trans 'entity.tab.offer' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/{{user}}/termination/">{% trans 'entity.tab.termination' %}</a></li>
            </ul>
          </div>
          <div id="user-mails">
            <h4 class="fw-bold mb-4">{% trans 'user.mail.headline' %}</h4>
            <ul id="user-mail-list">
            </ul>
            <div id="user-mail-empty" class="text-center d-none">
              <span>{% trans 'user.mail.empty' %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchMails(function (mails) {
      displayMails(mails);
      removeLoader();
    });
  });

  function displayMails(mails) {
    for (var i = 0; i < mails.length; i++) {
      var entry = mails[i];
      displayMail(entry.id, entry.sender, entry.time, entry.title);
    }
    if (mails.length === 0) {
      document.getElementById("user-mail-empty").classList.remove("d-none");
    }
  }

  function displayMail(id, sender, time, title) {
    var entryElement = document.createElement("div");
    entryElement.classList.add("user-mail-entry");
    var prefixElement = document.createElement("div");
    prefixElement.classList.add("d-flex", "align-items-center");
    var iconElement = document.createElement("h2");
    iconElement.classList.add("user-mail-icon", "fa-solid", "fa-envelope");
    prefixElement.appendChild(iconElement);
    var informationElement = document.createElement("div");
    var titleElement = document.createElement("p");
    titleElement.classList.add("user-mail-status", "fw-bold");
    titleElement.innerHTML = title;
    informationElement.appendChild(titleElement);
    var senderElement = document.createElement("p");
    senderElement.classList.add("mb-0");
    senderElement.innerHTML = sender;
    informationElement.appendChild(senderElement);
    var timeElement = document.createElement("p");
    timeElement.classList.add("mb-0");
    timeElement.innerHTML = new Date(time).toLocaleString();
    informationElement.appendChild(timeElement);
    prefixElement.appendChild(informationElement);
    entryElement.appendChild(prefixElement);
    var entrySuffix = document.createElement("div");
    entrySuffix.classList.add("d-flex", "align-items-center");
    var settingsButton = document.createElement("button");
    settingsButton.type = "button";
    settingsButton.classList.add("user-mail-settings-button", "fa-solid",
      "fa-ellipsis-vertical");
    settingsButton.setAttribute("data-bs-toggle", "dropdown");
    settingsButton.setAttribute("aria-expanded", "false");
    entrySuffix.appendChild(settingsButton);
    var dropdown = createMailSettingsDropdown([{icon: "fa-arrows-rotate",
      content: "{% trans 'user.mail.settings.resend' %}",
      color: "text-light", click: () => resendMail(id)}]);
    entrySuffix.appendChild(dropdown);
    entryElement.appendChild(entrySuffix);
    document.getElementById("user-mail-list").appendChild(entryElement);
  }

  function createMailSettingsDropdown(buttons) {
    var dropdown = document.createElement("ul");
    dropdown.classList.add("user-mail-settings-dropdown", "dropdown-menu", "bg-dark");
    for (var i = 0; i < buttons.length; i++) {
      var button = buttons[i];
      dropdown.appendChild(createMailSettingsDropdownButton(dropdown, button.icon,
        button.content, button.color, button.click));
    }
    return dropdown;
  }

  function createMailSettingsDropdownButton(dropdown, icon, content, color, click) {
    var dropdownEntry = document.createElement("li");
    dropdownEntry.classList.add("user-mail-settings-dropdown-entry", "dropdown-item");
    var dropdownEntryIcon = document.createElement("i");
    dropdownEntryIcon.classList.add("fa-solid", icon);
    dropdownEntry.appendChild(dropdownEntryIcon);
    var dropdownEntryLabel = document.createElement("label");
    dropdownEntryLabel.innerText = content;
    dropdownEntry.appendChild(dropdownEntryLabel);
    if (color !== undefined) {
      dropdownEntryIcon.classList.add(color);
      dropdownEntryLabel.classList.add(color);
    }
    dropdownEntry.onclick = function (event) {
      $(dropdown).dropdown('toggle');
      click();
    };
    return dropdownEntry;
  }

  function resendMail(id) {
    let request = new HttpRequest("https://team.dulno.com/v1/mail/resend/", "POST",
      [], {mail: id});
    request.send(function (status, responseText) {
      Swal.fire("{% trans 'mail.resend.successful.title' %}",
        "{% trans 'mail.resend.successful.body' %}", "success")
        .then(success => window.location.reload());
    });
  }

  function fetchMails(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/mails/find/", "POST",
      [], {user: "{{user}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).mails);
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("user-mail-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("user-mail-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("user-mail-wrapper").classList.remove("d-none");
  }
</script>