{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'templates/head.html' %}
  <body>
    {% include 'templates/panel-header.html' %}
    {% include 'templates/panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="emails-wrapper">
        <h1 id="emails-headline">{% trans 'emails.headline' %}</h1>
        <div id="emails-header">
          <div id="emails-search-box">
            <input id="emails-search-input" placeholder=" {% trans 'emails.search' %}" type="text" class="form-control" value="" autocomplete="off">
            <button type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <ul id="emails-table-description">
          <li id="emails-table-description-title">
            <div>
              <span>{% trans 'emails.title' %}</span>
            </div>
          </li>
          <li>
            <div>
              <span>{% trans 'emails.sender' %}</span>
            </div>
          </li>
          <li>
            <div>
              <span>{% trans 'emails.date' %}</span>
            </div>
          </li>
        </ul>
        <ul id="emails-list">
        </ul>
        <div id="emails-empty">
          <span id="emails-empty-headline">{% trans 'emails.empty.headline' %}</span>
          <span>{% trans 'emails.empty.text' %}</span>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var emails;
  var emailsCurrentNameFilter = "";

  $(document).ready(function() {
    fetchEmailsData(function() {
      displayEmails();
    });
  });

  function fetchEmailsData(callback) {
    let request = new HttpRequest("https://team.taskwolf.net/v1/mails/find/", "GET", []);
    request.send(function (status, responseText) {
      emails = JSON.parse(responseText).mails;
      callback();
    });
  }

  function displayEmails() {
    document.getElementById("emails-list").innerHTML = "";
    var displayedEmails = 0;
    for (var i = 0; i < emails.length; i++) {
      var entry = emails[i];
      if(!(shouldDisplayEmailEntry(entry))) {
        continue;
      }
      displayEmail(entry.id, entry.title, entry.sender, entry.date);
      displayedEmails++;
    }
    if (displayedEmails === 0) {
      document.getElementById("emails-empty").style.display = "flex";
    } else {
      document.getElementById("emails-empty").style.display = "none";
    }
  }

  function shouldDisplayEmailEntry(entry) {
    return emailsCurrentNameFilter.length === 0 ||
      entry.title.toLowerCase().includes(emailsCurrentNameFilter.toLowerCase()) ||
      entry.sender.toLowerCase().includes(emailsCurrentNameFilter.toLowerCase()) ||
      entry.date.toLowerCase().includes(emailsCurrentNameFilter.toLowerCase());
  }

  function displayEmail(id, title, sender, date) {
    var entry = document.createElement('li');
    entry.role = "button";
    entry.classList.add("email-entry");
    var titleDiv = document.createElement("div");
    titleDiv.classList.add("email-entry-title");
    var titleElement = document.createElement("span");
    titleElement.innerText = title;
    titleElement.classList.add("emails-list-title");
    titleDiv.appendChild(titleElement);
    entry.appendChild(titleDiv);
    appendEmailsCell(entry, "sender", sender, "span");
    appendEmailsCell(entry, "date", date, "span");
    entry.onclick = function (event) {
      clickEmail(id);
    }
    document.getElementById("emails-list").appendChild(entry);
  }

  function clickEmail(id) {
    window.location.href = "/email/" + id + "/";
  }

  function appendEmailsCell(entry, identifier, information, elementType) {
    var div = document.createElement("div");
    var element = document.createElement(elementType);
    element.innerText = information;
    element.classList.add("emails-list-" + identifier);
    div.appendChild(element);
    entry.appendChild(div);
    return element;
  }

  document.getElementById("emails-search-input").oninput = function(event) {
    emailsCurrentNameFilter = event.target.value;
    displayEmails();
  };
</script>