{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'templates/head.html' %}
  <body>
    {% include 'templates/panel-header.html' %}
    {% include 'templates/panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="email-container">
        <h1 id="email-headline"></h1>
        <hr class="hr border-white my-4"/>
        <ul id="email-messages">
        </ul>
        <div id="email-operations">
          <button type="button" id="email-message-add" class="btn btn-primary disabled">{% trans 'ticket.message.add' %}</button>
          <button type="button" id="email-delete" class="btn btn-danger">{% trans 'ticket.delete' %}</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var email;

  $(document).ready(function() {
    fetchEmailData(function() {
      displayEmail();
    });
  });

  function fetchEmailData(callback) {
    let request = new HttpRequest("https://api.taskwolf.net/v1/team/mail/find/", "POST", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}], {mail: "{{email}}"});
    request.send(function (status, responseText) {
      email = JSON.parse(responseText);
      callback();
    });
  }

  function displayEmail() {
    document.getElementById("email-headline").innerHTML = email.title;
    for (var i = 0; i < email.messages.length; i++) {
      displayMessage(email.messages[i]);
    }
    displayAnswerField();
  }

  function displayMessage(message) {
    var messageElement = document.createElement("div");
    messageElement.classList.add("email-message", "ql-editor");
    messageElement.innerHTML = message.body;
    displayEntry(message.teamWritten ? "{% static 'img/taskwolf-profile-picture.png' %}" : "{% static 'img/generic-profile-picture.png' %}", message.sender.replace("@", "\u200B@"),
      message.time.split(" ")[0], message.time.split(" ")[1], messageElement);
  }

  function displayAnswerField() {
    var answerField = document.createElement("div");
    answerField.id = "email-answer-field";
    displayEntry("{% static 'img/taskwolf-profile-picture.png' %}", "Taskwolf", "", "", answerField);
    var quill = new Quill('#email-answer-field', {
      modules: {
        toolbar: [
          [{'size': ['huge', 'large', false, 'small']}],
          ['bold', 'italic', 'underline'],
          ['image'],
          [{'list': 'ordered'}, {'list': 'bullet'}],
          [{'align': []}],
          [{'color': []}],
        ]
      },
      theme: 'snow'
    });
    quill.on('text-change', function(delta, oldDelta, source) {
      if (answerField.firstElementChild.innerHTML !== "<p><br></p>") {
        document.getElementById("email-message-add").classList.remove("disabled");
      } else {
        document.getElementById("email-message-add").classList.add("disabled");
      }
    });
  }

  function displayEntry(picture, author, date, time, contentElement) {
    var messageContainer = document.createElement("li");
    messageContainer.classList.add("email-message-container");
    var messageDescription = document.createElement("div");
    messageDescription.classList.add("email-message-description")
    var messagePicture = document.createElement("img");
    messagePicture.classList.add("email-message-picture");
    messagePicture.src = picture;
    messageDescription.appendChild(messagePicture);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageAuthor = document.createElement("b");
    messageAuthor.classList.add("email-message-author");
    messageAuthor.innerHTML = author;
    messageDescription.appendChild(messageAuthor);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageDate = document.createElement("label");
    messageDate.classList.add("email-message-date");
    messageDate.innerHTML = date;
    messageDescription.appendChild(messageDate);
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var messageTime = document.createElement("label");
    messageTime.classList.add("email-message-time");
    messageTime.innerHTML = time;
    messageDescription.appendChild(messageTime);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var divider = document.createElement("div");
    divider.classList.add("email-message-divider");
    messageContainer.appendChild(divider);
    var messageContent = document.createElement("div");
    messageContent.classList.add("email-message-content");
    messageContent.appendChild(contentElement);
    messageContainer.appendChild(messageContent);
    document.getElementById("email-messages").appendChild(messageContainer);
    return messageContainer;
  }

  document.getElementById("email-message-add").onclick = function(event) {
    var message = document.getElementById("email-answer-field").firstElementChild.innerHTML;
    let request = new HttpRequest("https://api.taskwolf.net/v1/team/mail/answer/", "POST", [{key: "Content-Type", value: "application/json"},
      {key: "Authorization", value: "Bearer " + Cookie.find("token")}], {mail: email.id, message: message});
    request.send(function (status, responseText) {
      swal("{% trans 'email.message.add.successful.title' %}", "{% trans 'email.message.add.successful.body' %}", "success").then(success => window.location.reload());
    });
  }

  document.getElementById("email-delete").onclick = function(event) {
    swal({
      title: "{% trans 'email.delete.title' %}",
      text: "{% trans 'email.delete.body' %}",
      icon: "warning",
      dangerMode: true,
      buttons: true,
    }).then(willDelete => {
      if (willDelete) {
        let request = new HttpRequest("https://api.taskwolf.net/v1/team/mail/delete/", "POST", [{key: "Content-Type", value: "application/json"},
          {key: "Authorization", value: "Bearer " + Cookie.find("token")}], {mail: email.id});
        request.send(function (status, responseText) {
          swal("{% trans 'email.delete.successful.title' %}", "{% trans 'email.delete.successful.body' %}", "success").then(success => window.location.href = "/emails/");
        });
      }
    });
  }
</script>