{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="sale-container">
        <div id="sale-wrapper" class="d-none">
          <h1 id="sale-headline"></h1>
          <hr class="hr border-white my-4"/>
          <div id="sale-customer-information">
            <h4 class="fw-bold mb-4">{% trans 'sale.customer.information' %}</h4>
            <div class="d-flex justify-content-center">
              <div class="text-start">
                <p class="mb-0 fw-bold">{% trans 'sale.customer.email' %}: </p>
                <p class="mb-0 fw-bold">{% trans 'sale.customer.first.name' %}: </p>
                <p class="mb-0 fw-bold">{% trans 'sale.customer.last.name' %}: </p>
                <p id="sale-customer-phone-number-prefix" class="mb-0 fw-bold">{% trans 'sale.customer.phone.number' %}: </p>
                <p id="sale-customer-country-prefix" class="mb-0 fw-bold">{% trans 'sale.customer.country' %}: </p>
                <p id="sale-customer-company-name-prefix" class="mb-0 fw-bold">{% trans 'sale.customer.company.name' %}: </p>
                <p id="sale-customer-company-size-prefix" class="mb-0 fw-bold">{% trans 'sale.customer.company.size' %}: </p>
                <p id="sale-customer-company-role-prefix" class="mb-0 fw-bold">{% trans 'sale.customer.company.role' %}: </p>
              </div>
              <div class="text-end ms-4">
                <p id="sale-customer-email" class="mb-0"></p>
                <p id="sale-customer-first-name" class="mb-0"></p>
                <p id="sale-customer-last-name" class="mb-0"></p>
                <p id="sale-customer-phone-number" class="mb-0"></p>
                <p id="sale-customer-country" class="mb-0"></p>
                <p id="sale-customer-company-name" class="mb-0"></p>
                <p id="sale-customer-company-size" class="mb-0"></p>
                <p id="sale-customer-company-role" class="mb-0"></p>
              </div>
            </div>
          </div>
          <hr class="hr border-white my-4"/>
          <ul id="sale-messages">
          </ul>
          <div id="sale-operations">
            <button type="button" id="sale-message-add" class="btn btn-primary disabled">{% trans 'sale.message.add' %}</button>
            <button type="button" id="sale-delete" class="btn btn-danger">{% trans 'sale.delete' %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var sale;
  let username;

  $(document).ready(function() {
    displayLoader();
    fetchUsername(function () {
      fetchSaleData(function() {
        displaySale();
        removeLoader();
      });
    });
  });

  function fetchUsername(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/settings/profile/username/", "GET",
      []);
    request.send(function (status, responseText) {
      username = JSON.parse(responseText).username;
      callback();
    });
  }

  function fetchSaleData(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/sale/find/", "POST", [],
      {sale: "{{sale}}"});
    request.send(function (status, responseText) {
      sale = JSON.parse(responseText);
      callback();
    });
  }

  function displaySale() {
    document.getElementById("sale-headline").innerHTML = sale.title;
    displayCustomerInformation()
    for (var i = 0; i < sale.messages.length; i++) {
      displayMessage(sale.messages[i]);
    }
    displayAnswerField();
  }

  function displayCustomerInformation() {
    document.getElementById("sale-customer-email").innerHTML = sale.sender;
    document.getElementById("sale-customer-first-name").innerHTML = sale.firstName;
    document.getElementById("sale-customer-last-name").innerHTML = sale.lastName;
    if (sale.phoneNumber !== "") {
      document.getElementById("sale-customer-phone-number").innerHTML = sale.phoneNumber;
    } else {
      document.getElementById("sale-customer-phone-number").classList.add("d-none");
      document.getElementById("sale-customer-phone-number-prefix").classList.add("d-none");
    }
    if (sale.country !== "") {
      document.getElementById("sale-customer-country").innerHTML = sale.country;
    } else {
      document.getElementById("sale-customer-country").classList.add("d-none");
      document.getElementById("sale-customer-country-prefix").classList.add("d-none");
    }
    if (sale.companyName !== "") {
      document.getElementById("sale-customer-company-name").innerHTML = sale.companyName;
    } else {
      document.getElementById("sale-customer-company-name").classList.add("d-none");
      document.getElementById("sale-customer-company-name-prefix").classList.add("d-none");
    }
    if (sale.companySize !== "") {
      document.getElementById("sale-customer-company-size").innerHTML = sale.companySize;
    } else {
      document.getElementById("sale-customer-company-size").classList.add("d-none");
      document.getElementById("sale-customer-company-size-prefix").classList.add("d-none");
    }
    if (sale.companyRole !== "") {
      document.getElementById("sale-customer-company-role").innerHTML = sale.companyRole;
    } else {
      document.getElementById("sale-customer-company-role").classList.add("d-none");
      document.getElementById("sale-customer-company-role-prefix").classList.add("d-none");
    }
  }

  function displayMessage(message) {
    var messageElement = document.createElement("div");
    messageElement.classList.add("sale-message", "ql-editor");
    messageElement.innerHTML = message.body;
    displayEntry(message.teamWritten, message.sender.replace("@", "\u200B@"),
      message.time.split(" ")[0], message.time.split(" ")[1], messageElement);
  }

  function displayAnswerField() {
    var answerField = document.createElement("div");
    answerField.id = "sale-answer-field";
    displayEntry(true, username, "", "", answerField);
    var quill = new Quill('#sale-answer-field', {
      modules: {
        toolbar: [
          [{'size': ['huge', 'large', false, 'small']}],
          ['bold', 'italic', 'underline'],
          ['image'],
          [{'list': 'ordered'}, {'list': 'bullet'}],
          [{'align': []}],
          [{'color': []}],
        ]
      },
      theme: 'snow'
    });
    quill.on('text-change', function(delta, oldDelta, source) {
      if (answerField.firstElementChild.innerHTML !== "<p><br></p>") {
        document.getElementById("sale-message-add").classList.remove("disabled");
      } else {
        document.getElementById("sale-message-add").classList.add("disabled");
      }
    });
  }

  function displayEntry(dulnoWritten, author, date, time, contentElement) {
    var messageContainer = document.createElement("li");
    messageContainer.classList.add("sale-message-container");
    var messageDescription = document.createElement("div");
    messageDescription.classList.add("sale-message-description");
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    if (dulnoWritten) {
      var dulnoPicture = document.createElement("img");
      dulnoPicture.classList.add("sale-message-profile-picture");
      dulnoPicture.src = "https://dulno.com/static/img/logo-light.webp";
      messageDescription.appendChild(dulnoPicture);
    } else {
      var userPicture = document.createElement("i");
      userPicture.classList.add("sale-message-profile-icon", "fa-regular", "fa-user");
      messageDescription.appendChild(userPicture);
    }
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageAuthor = document.createElement("b");
    messageAuthor.classList.add("sale-message-author");
    messageAuthor.innerHTML = author;
    messageDescription.appendChild(messageAuthor);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    var messageDate = document.createElement("p");
    messageDate.classList.add("sale-message-date");
    messageDate.innerHTML = date;
    messageDescription.appendChild(messageDate);
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var messageTime = document.createElement("p");
    messageTime.classList.add("sale-message-time");
    messageTime.innerHTML = time;
    messageDescription.appendChild(messageTime);
    messageDescription.appendChild(document.createElement("br"));
    messageDescription.appendChild(document.createElement("br"));
    messageContainer.appendChild(messageDescription);
    var divider = document.createElement("div");
    divider.classList.add("sale-message-divider");
    messageContainer.appendChild(divider);
    var messageContent = document.createElement("div");
    messageContent.classList.add("sale-message-content");
    messageContent.appendChild(contentElement);
    messageContainer.appendChild(messageContent);
    document.getElementById("sale-messages").appendChild(messageContainer);
    return messageContainer;
  }

  document.getElementById("sale-message-add").onclick = function(event) {
    var message = document.getElementById("sale-answer-field").firstElementChild.innerHTML;
    let request = new HttpRequest("https://team.dulno.com/v1/sale/answer/", "POST", [],
      {sale: sale.id, message: message});
    request.send(function (status, responseText) {
      Swal.fire("{% trans 'sale.message.add.successful.title' %}", "{% trans 'sale.message.add.successful.body' %}", "success").then(success => window.location.reload());
    });
  }

  document.getElementById("sale-delete").onclick = function(event) {
    Swal.fire({
      title: "{% trans 'sale.delete.title' %}",
      text: "{% trans 'sale.delete.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("https://team.dulno.com/v1/sale/delete/", "POST", [],
          {sale: sale.id});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'sale.delete.successful.title' %}", "{% trans 'sale.delete.successful.body' %}", "success").then(success => window.location.href = "/sales/");
        });
      }
    });
  }

  function displayLoader() {
    let loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("sale-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("sale-container").removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("sale-wrapper").classList.remove("d-none");
  }
</script>