{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="cluster-services-container">
        <div id="cluster-services-wrapper">
          {% include 'cluster-tab.html' %}
          <div id="cluster-services-content">
            <ul id="cluster-services-list">
              <li class="cluster-service">
                <div class="d-flex align-items-center">
                  <div class="cluster-service-icon">
                    <i class="fa-solid fa-globe"></i>
                  </div>
                  <span class="cluster-service-name">Website</span>
                </div>
                <div id="cluster-service-status-web" class="cluster-service-status">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </li>
              <div class="cluster-service-separator"></div>
              <li class="cluster-service">
                <div class="d-flex align-items-center">
                  <div class="cluster-service-icon">
                    <i class="fa-solid fa-server"></i>
                  </div>
                  <span class="cluster-service-name">API</span>
                </div>
                <div id="cluster-service-status-api" class="cluster-service-status">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </li>
              <div class="cluster-service-separator"></div>
              <li class="cluster-service">
                <div class="d-flex align-items-center">
                  <div class="cluster-service-icon">
                    <i class="fa-solid fa-book"></i>
                  </div>
                  <span class="cluster-service-name">Documentation</span>
                </div>
                <div id="cluster-service-status-documentation" class="cluster-service-status">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </li>
              <div class="cluster-service-separator"></div>
              <li class="cluster-service">
                <div class="d-flex align-items-center">
                  <div class="cluster-service-icon">
                    <i class="fa-solid fa-gauge"></i>
                  </div>
                  <span class="cluster-service-name">Panel</span>
                </div>
                <div id="cluster-service-status-panel" class="cluster-service-status">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </li>
              <div class="cluster-service-separator"></div>
              <li class="cluster-service">
                <div class="d-flex align-items-center">
                  <div class="cluster-service-icon">
                    <i class="fa-solid fa-server"></i>
                  </div>
                  <span class="cluster-service-name">Panel API</span>
                </div>
                <div id="cluster-service-status-panel-api" class="cluster-service-status">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </li>
              <div class="cluster-service-separator"></div>
              <li class="cluster-service">
                <div class="d-flex align-items-center">
                  <div class="cluster-service-icon">
                    <i class="fa-brands fa-gitlab"></i>
                  </div>
                  <span class="cluster-service-name">GitLab</span>
                </div>
                <div id="cluster-service-status-gitlab" class="cluster-service-status">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayServiceAvailabilities();
  });

  function displayServiceAvailabilities() {
    displayServiceAvailability("web", "https://dulno.com/");
    displayServiceAvailability("api", "https://api.dulno.com/v1/");
    displayServiceAvailability("documentation", "https://documentation.dulno.com/");
    displayServiceAvailability("panel", "https://panel.dulno.com/");
    displayServiceAvailability("panel-api", "https://team.dulno.com/v1/");
    displayServiceAvailability("gitlab", "https://git.dulno.com/");
  }

  function displayServiceAvailability(identifier, url) {
    isUrlReachable(url, function (response)  {
      var element = document.getElementById("cluster-service-status-" + identifier);
      element.innerHTML = "";
      var delayElement = document.createElement("h5");
      delayElement.classList.add("d-block", "me-4", "mb-0");
      delayElement.innerText = response.delay + " ms";
      element.appendChild(delayElement);
      var iconWrapper = document.createElement("div");
      iconWrapper.classList.add("cluster-service-status-icon");
      var iconContainer = document.createElement("div");
      iconContainer.classList.add("d-flex",
        "justify-content-center", "align-items-center", "rounded-2", "w-100", "h-100");
      var iconElement = document.createElement("i");
      iconElement.classList.add("fa-solid", "text-light");
      if (response.available) {
        iconElement.classList.add("fa-check");
        iconContainer.classList.add("bg-success");
      } else {
        iconElement.classList.add("fa-xmark");
        iconContainer.classList.add("bg-danger");
      }
      iconContainer.appendChild(iconElement);
      iconWrapper.appendChild(iconContainer);
      element.appendChild(iconWrapper);
      applyTooltips(iconContainer, element, response.available ?
        "{% trans 'cluster.services.online' %}" :
        "{% trans 'cluster.services.offline' %}")
    });
  }

  function applyTooltips(element, container, text) {
    $(element).attr("data-bs-toggle", "tooltip");
    $(element).attr("data-bs-placement", "top");
    $(element).attr("data-bs-title", text);
    container.classList.add("position-relative");
    new bootstrap.Tooltip(element, {
      container: container
    });
  }

  async function isUrlReachable(url, callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/service/available/",
      "POST", [], {url: url});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }
</script>