{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="cluster-unit-container">
        <div id="cluster-unit-wrapper" class="d-none">
          <div id="cluster-unit-pod-header">
            <div>
              <button id="cluster-unit-back"><i class="fa-solid fa-arrow-left-long"></i></button>
            </div>
            <div id="cluster-unit-restart-container">
              <h4 id="cluster-unit-restart" class="fa-solid fa-rotate-right mb-0" role="button"></h4>
            </div>
          </div>
          <div id="cluster-unit-content">
            <h1 id="cluster-unit-name" class="fw-bold mb-5 text-center"></h1>
            <div class="cluster-unit-section">
              <div class="d-flex flex-xl-row flex-column justify-content-around align-items-center">
                <div class="cluster-unit-section-quadrant mb-xl-0 mb-5">
                  <h4 class="mb-4">{% trans 'cluster.unit.general' %}:</h4>
                  <div class="d-flex justify-content-between w-100">
                    <div class="text-start">
                      <p class="mb-0 fw-bold">{% trans 'cluster.unit.general.name' %}: </p>
                      <p class="mb-0 fw-bold">{% trans 'cluster.unit.general.type' %}: </p>
                    </div>
                    <div class="text-end ms-2">
                      <p id="cluster-unit-general-name" class="mb-0 text-truncate"></p>
                      <p id="cluster-unit-general-type" class="mb-0 text-truncate"></p>
                    </div>
                  </div>
                </div>
                <div id="cluster-unit-specification" class="cluster-unit-section-quadrant">
                  <h4 class="mb-4">{% trans 'cluster.unit.specification' %}:</h4>
                  <div class="d-flex justify-content-between w-100">
                    <div class="text-start">
                      <p class="mb-0 fw-bold">{% trans 'cluster.unit.specification.desired.replicas' %}: </p>
                      <p class="mb-0 fw-bold">{% trans 'cluster.unit.specification.available.replicas' %}: </p>
                    </div>
                    <div class="text-end ms-2">
                      <p id="cluster-unit-specification-desired-replicas" class="mb-0 text-truncate"></p>
                      <p id="cluster-unit-specification-available-replicas" class="mb-0 text-truncate"></p>
                    </div>
                  </div>
                  <button id="cluster-unit-scale" class="btn btn-primary d-none d-block mt-4 mx-auto px-5"><i class="fa-solid fa-scale-balanced me-2"></i>{% trans 'cluster.unit.scale' %}</button>
                </div>
              </div>
            </div>
            <ul id="cluster-unit-pods-list">
            </ul>
            <div id="cluster-unit-pods-empty" class="text-center d-none">
              <span>{% trans 'cluster.unit.pods.empty' %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  let unitData;

  $(document).ready(function() {
    displayLoader();
    fetchUnit(function (unit) {
      displayUnit(unit);
      removeLoader();
    });
    setInterval(function () {
      fetchUnit(function (unit) {
        displayUnit(unit);
      });
    }, 1000);
    if ("{{type}}" === "deployment") {
      document.getElementById("cluster-unit-scale").classList.remove("d-none");
    }
    applyTooltips(document.getElementById("cluster-unit-restart"),
      document.getElementById("cluster-unit-restart-container"),
      "{% trans 'cluster.unit.restart' %}");
  });

  function displayUnit(unit) {
    unitData = unit;
    document.getElementById("cluster-unit-name").innerText = unit.name;
    document.getElementById("cluster-unit-general-name").innerText = unit.name;
    document.getElementById("cluster-unit-general-type").innerText = unit.type;
    if (unit.desiredReplicas !== undefined && unit.availableReplicas !== undefined) {
      document.getElementById("cluster-unit-specification-desired-replicas").innerText = unit.desiredReplicas;
      document.getElementById("cluster-unit-specification-available-replicas").innerText = unit.availableReplicas;
    } else {
      document.getElementById("cluster-unit-specification").classList.add("d-none");
    }
    displayPods(unit.pods);
  }

  function displayPods(pods) {
    document.getElementById("cluster-unit-pods-list").innerHTML = "";
    for (let i = 0; i < pods.length; i++) {
      let pod = pods[i];
      displayPod(pod);
    }
    if (pods.length === 0) {
      document.getElementById("cluster-unit-pods-empty").classList.remove("d-none");
    }
  }

  function displayPod(pod) {
    let entry = document.createElement("li");
    entry.role = "button";
    entry.classList.add("d-flex", "justify-content-between", "align-items-center");
    let entryPrefix = document.createElement("div");
    entryPrefix.classList.add("d-flex", "align-items-center");
    let entryIconContainer = document.createElement("div");
    entryIconContainer.classList.add("cluster-unit-pods-icon");
    let entryIcon = document.createElement("h2");
    entryIcon.classList.add("mb-0", "fa-solid", "fa-box-archive");
    entryIconContainer.appendChild(entryIcon);
    entryPrefix.appendChild(entryIconContainer);
    let entryDescription = document.createElement("div");
    let entryPlatform = document.createElement("b");
    entryPlatform.classList.add("mb-0");
    entryPlatform.innerHTML = pod.name;
    entryDescription.appendChild(entryPlatform);
    entryPrefix.appendChild(entryDescription);
    let entryIp = document.createElement("p");
    entryIp.classList.add("mb-0");
    entryIp.innerHTML = pod.ipAddress;
    entryDescription.appendChild(entryIp);
    let entryNode = document.createElement("p");
    entryNode.classList.add("mb-0");
    entryNode.innerHTML = pod.node;
    entryDescription.appendChild(entryNode);
    let entryStartTime = document.createElement("p");
    entryStartTime.classList.add("mb-0");
    entryStartTime.innerHTML = new Date(pod.startTime).toLocaleString();
    entryDescription.appendChild(entryStartTime);
    entryPrefix.appendChild(entryDescription);
    entry.appendChild(entryPrefix);
    let entrySuffix = document.createElement("div");
    entrySuffix.classList.add("d-flex", "align-items-center");
    entrySuffix.appendChild(createPodPhaseBatch(pod.phase.toLowerCase()));
    let entryArrow = document.createElement("h4");
    entryArrow.classList.add("mb-0", "ms-3", "text-secondary", "fa-solid", "fa-angle-right");
    entrySuffix.appendChild(entryArrow);
    entry.appendChild(entrySuffix);
    entry.onclick = function (event) {
      window.location.href = "/cluster/unit/" + "{{type}}" + "/" + "{{name}}" + "/pod/" + pod.name + "/";
    }
    document.getElementById("cluster-unit-pods-list").appendChild(entry);
  }

  function createPodPhaseBatch(phase) {
    let phaseElement = document.createElement("span");
    phaseElement.classList.add("cluster-unit-pod-phase");
    if (phase === "running") {
      phaseElement.innerHTML = "{% trans 'cluster.unit.pod.running' %}";
      phaseElement.classList.add("cluster-unit-pod-phase-running");
    } else if (phase === "pending") {
      phaseElement.innerHTML = "{% trans 'cluster.unit.pod.pending' %}";
      phaseElement.classList.add("cluster-unit-pod-phase-pending");
    } else if (phase === "succeeded") {
      phaseElement.innerHTML = "{% trans 'cluster.unit.pod.succeeded' %}";
      phaseElement.classList.add("cluster-unit-pod-phase-succeeded");
    } else if (phase === "failed") {
      phaseElement.innerHTML = "{% trans 'cluster.unit.pod.failed' %}";
      phaseElement.classList.add("cluster-unit-pod-phase-failed");
    } else {
      phaseElement.innerHTML = "{% trans 'cluster.unit.pod.unknown' %}";
      phaseElement.classList.add("cluster-unit-pod-phase-unknown");
    }
    return phaseElement;
  }

  document.getElementById("cluster-unit-scale").onclick = function (event) {
    let scaleForm = document.createElement("div");
    scaleForm.classList.add("cluster-unit-scale-content");
    let scalePickerContainer = document.createElement("div");
    scalePickerContainer.classList.add("d-flex", "justify-content-center", "align-items-center", "my-4");
    let scalePickerInput = document.createElement("input");
    scalePickerInput.classList.add("mx-2");
    scalePickerInput.value = unitData.desiredReplicas;
    scalePickerInput.step = "1";
    scalePickerInput.min = "1";
    let scalePickerDown = document.createElement("button");
    scalePickerDown.innerText = "-";
    scalePickerDown.onclick = function (event) {
      scalePickerInput.value = Math.max(1, parseInt(scalePickerInput.value) - 1);
    }
    scalePickerContainer.appendChild(scalePickerDown);
    scalePickerContainer.appendChild(scalePickerInput);
    let scalePickerUp = document.createElement("button");
    scalePickerUp.innerText = "+";
    scalePickerUp.onclick = function (event) {
      scalePickerInput.value = Math.max(1, parseInt(scalePickerInput.value) + 1);
    }
    scalePickerContainer.appendChild(scalePickerUp);
    scaleForm.appendChild(scalePickerContainer);
    Swal.fire({
      title: "{% trans 'cluster.unit.scale.title' %}",
      html: scaleForm,
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let replicas = scalePickerInput.value;
        let request = new HttpRequest("/cluster/unit/scale/",
          "POST", [], {unitName: "{{name}}", unitType: "{{type}}", replicas: replicas});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'cluster.unit.scale.successful.title' %}",
            "{% trans 'cluster.unit.scale.successful.body' %}".replace("%s", replicas),
            "success");
        });
      }
    });
  }

  document.getElementById("cluster-unit-restart").onclick = function (event) {
    Swal.fire({
      title: "{% trans 'cluster.unit.restart.title' %}",
      text: "{% trans 'cluster.unit.restart.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        let request = new HttpRequest("/cluster/unit/restart/",
          "POST", [], {unitName: "{{name}}", unitType: "{{type}}"});
        request.send(function (status, responseText) {
          window.location.reload();
        });
      }
    });
  }

  function fetchUnit(callback) {
    let request = new HttpRequest("/cluster/unit/",
      "POST", [], {unitName: "{{name}}", unitType: "{{type}}"});
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText));
    });
  }

  document.getElementById("cluster-unit-back").onclick = function (event) {
    window.location.href = "/cluster/units/";
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("cluster-unit-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("cluster-unit-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("cluster-unit-wrapper").classList.remove("d-none");
  }

  function applyTooltips(element, container, text) {
    $(element).attr("data-bs-toggle", "tooltip");
    $(element).attr("data-bs-placement", "top");
    $(element).attr("data-bs-title", text);
    container.classList.add("position-relative");
    new bootstrap.Tooltip(element, {
      container: container
    });
  }
</script>