{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="cluster-servers-container">
        <div id="cluster-servers-wrapper" class="d-none">
          <div>
            {% include 'cluster-tab.html' %}
            <div id="cluster-servers-content">
              <ul id="cluster-servers-list">
              </ul>
              <div id="cluster-servers-empty" class="text-center d-none">
                <span>{% trans 'cluster.servers.empty' %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchServers(function (servers) {
      displayServers(servers);
      removeLoader();
    });
  });

  function displayServers(servers) {
    for (let i = 0; i < servers.length; i++) {
      let server = servers[i];
      displayServer(server);
    }
    if (servers.length === 0) {
      document.getElementById("cluster-servers-empty").classList.remove("d-none");
    }
  }

  function displayServer(server) {
    let entry = document.createElement("li");
    entry.role = "button";
    entry.classList.add("d-flex", "justify-content-between", "align-items-center");
    let entryPrefix = document.createElement("div");
    entryPrefix.classList.add("d-flex", "align-items-center");
    let entryIconContainer = document.createElement("div");
    entryIconContainer.classList.add("cluster-servers-icon");
    let entryIcon = document.createElement("h2");
    entryIcon.classList.add("mb-0", "fa-solid", "fa-server");
    entryIconContainer.appendChild(entryIcon);
    entryPrefix.appendChild(entryIconContainer);
    let entryDescription = document.createElement("div");
    let entryPlatform = document.createElement("b");
    entryPlatform.classList.add("mb-0");
    entryPlatform.innerHTML = server.name + " (" + server.type + ")";
    entryDescription.appendChild(entryPlatform);
    entryPrefix.appendChild(entryDescription);
    let entryIp = document.createElement("p");
    entryIp.classList.add("mb-0");
    entryIp.innerHTML = server.ipv4;
    entryDescription.appendChild(entryIp);
    let entryLocation = document.createElement("p");
    entryLocation.classList.add("mb-0");
    entryLocation.innerHTML = server.locationCity + " (" + server.locationCountry + ")";
    entryDescription.appendChild(entryLocation);
    entryPrefix.appendChild(entryDescription);
    entry.appendChild(entryPrefix);
    let entrySuffix = document.createElement("div");
    entrySuffix.classList.add("d-flex", "align-items-center");
    entrySuffix.appendChild(createServerStatusBatch(server.status));
    let entryArrow = document.createElement("h4");
    entryArrow.classList.add("mb-0", "ms-3", "text-secondary", "fa-solid", "fa-angle-right");
    entrySuffix.appendChild(entryArrow);
    entry.appendChild(entrySuffix);
    entry.onclick = function (event) {
      window.location.href = "/cluster/server/" + server.id + "/";
    }
    document.getElementById("cluster-servers-list").appendChild(entry);
  }

  function createServerStatusBatch(status) {
    let statusElement = document.createElement("span");
    statusElement.classList.add("cluster-servers-status");
    if (status === "running") {
      statusElement.innerHTML = "{% trans 'cluster.servers.running' %}";
      statusElement.classList.add("cluster-servers-status-running");
    } else if (status === "initializing") {
      statusElement.innerHTML = "{% trans 'cluster.servers.initializing' %}";
      statusElement.classList.add("cluster-servers-status-initializing");
    } else if (status === "stopping") {
      statusElement.innerHTML = "{% trans 'cluster.servers.stopping' %}";
      statusElement.classList.add("cluster-servers-status-stopping");
    } else if (status === "off") {
      statusElement.innerHTML = "{% trans 'cluster.servers.off' %}";
      statusElement.classList.add("cluster-servers-status-off");
    } else if (status === "deleting") {
      statusElement.innerHTML = "{% trans 'cluster.servers.deleting' %}";
      statusElement.classList.add("cluster-servers-status-deleting");
    } else {
      statusElement.innerHTML = "{% trans 'cluster.servers.unknown' %}";
      statusElement.classList.add("cluster-servers-status-unknown");
    }
    return statusElement;
  }

  function fetchServers(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/cluster/servers/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).servers);
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("cluster-servers-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("cluster-servers-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("cluster-servers-wrapper").classList.remove("d-none");
  }
</script>