{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="cluster-unit-container">
        <div id="cluster-unit-wrapper" class="d-none">
          <div>
            {% include 'cluster-tab.html' %}
            <div id="cluster-unit-content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    removeLoader();
  });

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("cluster-unit-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("cluster-unit-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("cluster-unit-wrapper").classList.remove("d-none");
  }
</script>