{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="cluster-units-container">
        <div id="cluster-units-wrapper" class="d-none">
          {% include 'cluster-tab.html' %}
          <div id="cluster-units-content">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchUnits(function (units) {
      removeLoader();
    });
  });

  function fetchUnits(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/cluster/units/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).units);
    });
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("cluster-units-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("cluster-units-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("cluster-units-wrapper").classList.remove("d-none");
  }
</script>