{% load static %}
{% load i18n %}
<html lang="en">
  {% include 'head.html' %}
  <body class="dark" data-bs-theme="dark">
    {% include 'panel-header.html' %}
    {% include 'panel-sidebar.html' %}
    <div class="sidebar-influenced">
      <div id="cluster-backups-container">
        <div id="cluster-backups-wrapper" class="d-none">
          {% include 'cluster-tab.html' %}
          <div id="cluster-backups-content">
            <div id="cluster-backups-control-container" class="d-flex justify-content-end align-items-center me-4 mb-5">
              <h2 id="cluster-backups-upload" class="fa-solid fa-upload mb-0 me-3" role="button"></h2>
              <h1 id="cluster-backups-run" class="text-success fa-solid fa-circle-play mb-0" role="button"></h1>
            </div>
            <ul id="cluster-backups-list">
            </ul>
            <div id="cluster-backups-empty" class="text-center d-none">
              <span>{% trans 'cluster.backups.empty' %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    displayLoader();
    fetchBackups(function (backups) {
      displayBackups(backups);
      removeLoader();
    });
    applyTooltips(document.getElementById("cluster-backups-run"),
      document.getElementById("cluster-backups-control-container"),
      "{% trans 'cluster.backups.run' %}");
    applyTooltips(document.getElementById("cluster-backups-upload"),
      document.getElementById("cluster-backups-control-container"),
      "{% trans 'cluster.backups.upload' %}");
  });

  function displayBackups(backups) {
    let entries = Object.keys(backups).sort().reverse();
    for (let entry of entries) {
      displayBackup(Number(entry), backups[entry]);
    }
    if (entries.length === 0) {
      document.getElementById("cluster-backups-empty").classList.remove("d-none");
    }
  }

  function displayBackup(time, content) {
    let entry = document.createElement("li");
    entry.classList.add("d-flex", "justify-content-between", "align-items-center");
    let entryPrefix = document.createElement("div");
    entryPrefix.classList.add("d-flex", "align-items-center");
    let entryIconContainer = document.createElement("div");
    entryIconContainer.classList.add("cluster-backups-icon");
    let entryIcon = document.createElement("h2");
    entryIcon.classList.add("mb-0", "fa-solid", "fa-kit-medical");
    entryIconContainer.appendChild(entryIcon);
    entryPrefix.appendChild(entryIconContainer);
    let entryDescription = document.createElement("div");
    let entryPlatform = document.createElement("b");
    entryPlatform.classList.add("mb-0");
    entryPlatform.innerHTML = new Date(time).toLocaleString();
    entryDescription.appendChild(entryPlatform);
    entryPrefix.appendChild(entryDescription);
    let entryDatabases = document.createElement("p");
    entryDatabases.classList.add("mb-0");
    for (let i = 0; i < content.length; i++) {
      if (i > 0) {
        entryDatabases.innerText += ", ";
      }
      entryDatabases.innerText += content[i].pod;
    }
    entryDescription.appendChild(entryDatabases);
    entryPrefix.appendChild(entryDescription);
    entry.appendChild(entryPrefix);
    let entrySuffix = document.createElement("div");
    entrySuffix.classList.add("d-flex", "align-items-center");
    entrySuffix.appendChild(createBackupControlButton("fa-download",
      "{% trans 'cluster.backups.download' %}",
      (event, entryControl, entryControlContainer) =>
        downloadBackup(time, entryControl, entryControlContainer)));
    entrySuffix.appendChild(createBackupControlButton("fa-recycle",
      "{% trans 'cluster.backups.restore' %}",
      (event, entryControl, entryControlContainer) => restoreBackup(time),
      "text-warning"));
    entrySuffix.appendChild(createBackupControlButton("fa-trash-can",
      "{% trans 'cluster.backups.delete' %}",
      (event, entryControl, entryControlContainer) => deleteBackup(time),
      "text-danger"));
    entry.appendChild(entrySuffix);
    document.getElementById("cluster-backups-list").appendChild(entry);
  }

  function createBackupControlButton(icon, tooltip, onclick, color) {
    let entryControlContainer = document.createElement("div");
    entryControlContainer.classList.add("d-flex", "justify-content-center",
      "align-items-center");
    entryControlContainer.style.width = "48px";
    entryControlContainer.style.height = "32px";
    let entryControl = document.createElement("h4");
    entryControl.role = "button";
    entryControl.classList.add("mb-0", "fa-solid", icon);
    if (color) {
      entryControl.classList.add(color);
    }
    applyTooltips(entryControl, entryControlContainer, tooltip);
    entryControl.onclick = function (event) {
      onclick(event, entryControl, entryControlContainer);
    }
    entryControlContainer.appendChild(entryControl)
    return entryControlContainer;
  }

  async function downloadBackup(time, element, parent) {
    bootstrap.Tooltip.getOrCreateInstance(element).hide();
    element.remove();
    let spinnerContainer = document.createElement("div");
    spinnerContainer.classList.add("spinner-border");
    spinnerContainer.role = "status";
    let spinner = document.createElement("div");
    spinner.classList.add("visually-hidden");
    spinnerContainer.appendChild(spinner);
    parent.appendChild(spinnerContainer);
    let blob = await fetchBackupFile(time);
    let url = URL.createObjectURL(blob);
    let a = document.createElement("a");
    a.href = url;
    a.download = "dulno-backup-" + time + ".tar.gz.gpg";
    document.body.appendChild(a);
    a.click();
    a.remove();
    URL.revokeObjectURL(url);
    spinnerContainer.remove();
    parent.appendChild(element);
    element.style.animation = 'cluster-backups-download-shake 0.75s ease, ' +
      'cluster-backups-download-green 1.5s ease';
    setTimeout(function() {
      element.style.animation = '';
    }, 2000);
  }

  async function fetchBackupFile(time) {
    let response = await fetch("https://team.dulno.com/v1/cluster/backup/download/", {
      method: "POST",
      headers: createRequestHeaders(),
      body: JSON.stringify({backup: time})
    });
    return await response.blob();
  }

  function restoreBackup(time) {
    Swal.fire({
      title: "{% trans 'cluster.backups.restore.title' %}",
      text: "{% trans 'cluster.backups.restore.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        loaderPopup();
        displayResponseProcess(time);
      }
    });
  }

  function displayResponseProcess(time) {
    let pods = {};
    let startingTime;
    let content = document.createElement("div");
    content.classList.add("cluster-backups-restore-process-content");
    let list = document.createElement("ul");
    list.classList.add("mt-5");
    content.appendChild(list);
    let divider = document.createElement("div");
    divider.classList.add("cluster-backups-restore-process-divider", "mb-5", "mt-4", "w-100", "d-none");
    content.appendChild(divider);
    let remainingTime = document.createElement("span");
    content.appendChild(remainingTime);
    const eventSource = new EventSource("https://team.dulno.com/v1/cluster" +
      "/backup/restore/?token=" + Cookie.find("panel-token") + "&backup=" + time);
    eventSource.onmessage = (event) => {
      let response = JSON.parse(event.data);
      if (response.type === "POD") {
        let bar = document.createElement("div");
        let status = document.createElement("small");
        list.appendChild(createRestoreProgressEntry(response, bar, status));
        pods[response.pod] = {currentTables: 0, totalTables: response.tableCount,
          bar: bar, status: status};
        if (response.podCount === list.children.length) {
          Swal.fire({
            title: "{% trans 'cluster.backups.restore.process.title' %}",
            html: content,
            showConfirmButton: false,
          });
          startingTime = +new Date();
        }
      } else if (response.type === "TABLE") {
        let pod = pods[response.pod];
        pod.currentTables = pod.currentTables + 1;
        pod.bar.style.width = (100 * (pod.currentTables / pod.totalTables)) + "%";
        pod.status.innerText = response.table.split("-")[0] + " (" + response.keyspace + ")";
        remainingTime.innerText = "{% trans 'cluster.backups.restore.process.remaining' %}: " +
          calculateRemainingTime(pods, startingTime);
        divider.classList.remove("d-none");
      } else if (response.type === "COMPLETED") {
        Swal.fire("{% trans 'cluster.backups.restore.successful.title' %}",
          "{% trans 'cluster.backups.restore.successful.body' %}", "success");
      }
    };
    eventSource.onerror = (error) => {
      eventSource.close();
    };
  }

  function calculateRemainingTime(pods, startingTime) {
    let progress = 0;
    let entries = Object.keys(pods);
    for (let entry of entries) {
      progress += pods[entry].currentTables / pods[entry].totalTables;
    }
    progress /= entries.length;
    let elapsedTime = + new Date() - startingTime;
    return new Date((elapsedTime / progress) - elapsedTime).toISOString().substr(14, 5);
  }

  function createRestoreProgressEntry(data, barElement, status) {
    let entry = document.createElement("li");
    entry.classList.add("mb-2");
    let name = document.createElement("h3");
    name.classList.add("text-start", "mb-2");
    name.innerText = data.pod + ":";
    entry.appendChild(name);
    let progress = document.createElement("div");
    progress.classList.add("progress", "mb-3");
    progress.role = "progressbar";
    progress.setAttribute("aria-valuemin", "0");
    progress.setAttribute("aria-valuemax", "100");
    barElement.classList.add("progress-bar", "progress-bar-striped",
      "progress-bar-animated");
    barElement.style.width = "0%";
    progress.appendChild(barElement);
    entry.appendChild(progress);
    let statusContainer = document.createElement("div");
    statusContainer.style.height = "38px";
    status.classList.add("text-secondary");
    statusContainer.appendChild(status);
    entry.appendChild(statusContainer);
    return entry;
  }

  function deleteBackup(time) {
    Swal.fire({
      title: "{% trans 'cluster.backups.delete.title' %}",
      text: "{% trans 'cluster.backups.delete.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        loaderPopup();
        let request = new HttpRequest("https://team.dulno.com/v1/cluster/backup/delete/",
          "POST", [], {backup: time});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'cluster.backups.delete.successful.title' %}",
            "{% trans 'cluster.backups.delete.successful.body' %}", "success")
            .then(success => window.location.reload());
        });
      }
    });
  }

  function fetchBackups(callback) {
    let request = new HttpRequest("https://team.dulno.com/v1/cluster/backups/", "GET", []);
    request.send(function (status, responseText) {
      callback(JSON.parse(responseText).backups);
    });
  }

  document.getElementById("cluster-backups-run").onclick = function (event) {
    Swal.fire({
      title: "{% trans 'cluster.backups.run.title' %}",
      text: "{% trans 'cluster.backups.run.body' %}",
      icon: "warning",
      confirmButtonColor: "#dc3545",
      showCancelButton: true,
    }).then(result => {
      if (result.isConfirmed) {
        loaderPopup();
        let request = new HttpRequest("https://team.dulno.com/v1/cluster/unit/restart/",
          "POST", [], {unitName: "dulno-cassandra-backup", unitType: "job"});
        request.send(function (status, responseText) {
          Swal.fire("{% trans 'cluster.backups.run.successful.title' %}",
            "{% trans 'cluster.backups.run.successful.body' %}", "success")
            .then(success => window.location.reload());
        });
      }
    });
  }

  document.getElementById("cluster-backups-upload").onclick = function (event) {
    let input = document.createElement('input');
    input.type = 'file';
    input.accept = '.tar.gz.gpg';
    input.onchange = _ => {
      let file = Array.from(input.files)[0];
      if (file) {
        loaderPopup();
        const formData = new FormData();
        formData.append('file', file);
        const apiUrl = 'https://team.dulno.com/v1/cluster/backup/upload/';
        fetch(apiUrl, {
          method: 'POST',
          headers: createRequestHeaders(),
          body: formData,
        }).then(function (response) {
          Swal.fire("{% trans 'cluster.backups.upload.successful.title' %}",
            "{% trans 'cluster.backups.upload.successful.body' %}", "success")
            .then(success => window.location.reload());
        });
      }
    };
    input.click();
  }

  function createRequestHeaders() {
    let headers = {};
    let token = Cookie.find("panel-token");
    if (token !== null) {
      headers["Authorization"] = "Bearer " + token;
    }
    let whitelistKey = Cookie.find("dulno-whitelist-key");
    if (whitelistKey !== null) {
      headers["WHITELIST-KEY"] = whitelistKey;
    }
    return headers;
  }

  function displayLoader() {
    var loader = document.createElement("div");
    loader.classList.add("loader");
    document.getElementById("cluster-backups-container").appendChild(loader);
  }

  function removeLoader() {
    document.getElementById("cluster-backups-container")
      .removeChild(document.getElementsByClassName("loader")[0]);
    document.getElementById("cluster-backups-wrapper").classList.remove("d-none");
  }

  function loaderPopup() {
    Swal.fire({
      html: `
        <div style="display: flex; justify-content: center; align-items: center; height: calc(340px - 4rem)">
          <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
            <span class="visually-hidden">Loading</span>
          </div>
        </div>
      `,
      showConfirmButton: false
    });
  }

  function applyTooltips(element, container, text) {
    $(element).attr("data-bs-toggle", "tooltip");
    $(element).attr("data-bs-placement", "top");
    $(element).attr("data-bs-title", text);
    container.classList.add("position-relative");
    new bootstrap.Tooltip(element, {
      container: container
    });
  }
</script>